[2020-01-24 19:45] yuanluxu opened #10 "Fixing Windows MSVC Compatibility"
## 🐛 Bugs / Unexpected behaviors
Fixed Windows MSVC build compatibility issues. All tests passed.

If you are using **pre-compiled pytorch 1.4** and **torchvision 0.5**. You should make the following revisions to the pytorch source codes also to successfully compile with **visual studio 2019** (MSVC 19.16.27034) and **CUDA 10.1**.

1. Change python/Lib/site-packages/torch/include/csrc/jit/script/m

[2020-01-26 01:14] Robonchu opened #11 "Missing the data of 10014_dolphin_v2_max2011_it2.obj"
I cannot see the data of `10014_dolphin_v2_max2011_it2.obj` in `pytorch3d/docs/tutorials/data` for the tutorial(deform_source_mesh_to_target_mesh.ipynb).
Maybe forget to upload??

[2020-01-26 01:31] gkioxari commented on #11
As the comments suggest, you should download the data
[code]
We are not allowed to redistribute the models. But the model is free, so you should be able to download it yourself.

[2020-01-26 01:31] #11 closed

[2020-01-26 02:07] Robonchu commented on #11
Thanks!
I found the typo in the tutorial such as `/data/doplhin`  (<- `/data/dolphin`) in the [4].
Should I make PR?

[2020-01-28 11:31] atemysemicolon opened #14 "Pretrained Models"
## 🚀 Feature
Will pytorch3d plan to support 3D pretrained deep learning models such as Mesh RCNN?

## Motivation
Will be nice to have a bunch of pretrained models to start playing with. Incrememental work would become much easier.

## Pitch
--- None as of now --

[2020-01-28 15:10] nikhilaravi commented on #14
Hi @atemysemicolon, thanks for your question. PyTorch3d is a library of reusable components rather than a framework so we don't currently have plans to support pre-trained models. Mesh R-CNN is released as a separate project here: https://github.com/facebookresearch/meshrcnn

[2020-01-28 15:10] #14 closed

[2020-01-28 20:50] aluo-x opened #15 "Request for documentation on how to use multiple textures & multiple meshes per scene"
## 🚀 Feature
Would appreciate more documentation or functionality to allow for rendering multiple meshes in a single scene, each with its own texture or vertex colors. In neural mesh renderer this can be achieved by setting a tensor with size (1, F, T, T, T, 3), where F are number of faces, and T are "texture size", while in the Nvidia Kaolin repository, there is the vertex texture mode for DIB-R.

[2020-01-28 20:54] wangg12 opened #16 "mac os installation error"
[code]

fixed via
[code]

[2020-01-28 20:54] #16 closed

[2020-01-28 21:57] wangg12 opened #17 "Non-square mesh rasterizer?"
## 🚀 Feature

## Motivation

## Pitch

NOTE: we only consider adding new features if they are useful for many users.

[2020-01-28 22:13] nikhilaravi commented on #15
@aluo-x  If I understand your question correctly, you want to concatenate multiple meshes into *one* mesh and then render *one* image.

This is definitely possible with PyTorch3d. You would just need to format the input data correctly yourself as internally we assume that for a batch of meshes, each mesh is rendered onto a separate image (the same assumption made in NMR and Kaolin).

For example,

[2020-01-28 22:17] nikhilaravi commented on #17
@wangg12  Thank you for raising this issue!

Rendering of non square images is on our roadmap. If you are interested in trying to implement this feature, please update this issue with a detailed outline of your plan and we can review it, following which you are welcome to submit a pull request.

[2020-01-28 22:20] aluo-x commented on #15
Wow, thanks for the extremely fast response and the great tool!
The example is very clear and is exactly what I was looking for. Somehow I missed the verts_rgb option while browsing the texture structure code. The documentation between the world/camera/image space is also a missing part of many other renderers.

One minor suggestion, this method (like the vertex color mode in DIB-R) are limited by

[2020-01-28 22:20] #15 closed

[2020-01-28 22:41] nikhilaravi commented on #15
@aluo-x Great! :) Specifying a texture atlas with a T*T*3 texture map per face is a feature we are planning to add. Stay tuned!

[2020-01-29 11:45] wangg12 opened #18 "How to use SfMPerspectiveCameras for renderer?"
I want to use this differentiable renderer to render a [LINEMOD object](http://ptak.felk.cvut.cz/6DB/public/bop_datasets/lm_models.zip). The .ply model vertices are loaded and then scale from `mm` to `m` by a factor 0.001.

The camera intrinsic:
[code]

Rotation and translation
[code]

I followed the camera position tutorial to set the cameras and renderers, except that the camera I used is
[code]

[2020-01-29 11:59] davnov134 commented on #18
Hi wangg12,

can I please ask whether you can share the rendering script?

More specifically, it is not obvious what is the position of the LM object in the world coordinates. Furthermore, the "R" matrix you are using does not seem to be a valid rotation, see below:
[code]

In case the LM object should be centered around (0, 0, 0), I would suggest setting the camera to a trivial one with a non-zer

[2020-01-29 13:28] wangg12 commented on #18
Sorry, `R` was not the correct one. It was transformed from axis angle and should be correct. I shared my script [here](<script src="https://gist.github.com/wangg12/32250e352671c7f8c9a42ddb437142a6.js"></script>)

[2020-01-29 17:32] wangg12 commented on #18
@nikhilaravi It seems if I devide the `fx,fy,px,py` in `K` by image size (640), there is some wrong rendered result on the image.
(left: p3d renderer; right: opengl renderer)
![image](https://user-images.githubusercontent.com/9958446/73381203-9be9c200-42c5-11ea-9313-665406de7f30.png)

[2020-01-29 19:13] wangg12 commented on #18
Finally I got the correct results with a modified OpenGL Real Perspective Camera.
The scripts are [here](https://gist.github.com/wangg12/32250e352671c7f8c9a42ddb437142a6).
![image](https://user-images.githubusercontent.com/9958446/73388548-bbd3b280-42d2-11ea-8ed7-ab9714169757.png)

BTW, @nikhilaravi How can I render the differentiable depth values?

[2020-01-29 21:03] aluo-x commented on #18
Haven't tried this myself since I am working with RGB, but [Line 37 of renderer.py](https://github.com/facebookresearch/pytorch3d/blob/dbf06b504b525c7f6680c5709b63df6413616d2e/pytorch3d/renderer/mesh/renderer.py#L37) exposes a fragment, which should have a [zbuf object](https://github.com/facebookresearch/pytorch3d/blob/dbf06b504b525c7f6680c5709b63df6413616d2e/pytorch3d/renderer/blending.py#L110).

[2020-01-29 21:55] nikhilaravi commented on #18
@wangg12 Glad you got it to work. I can take a look at your script later! For future, please try to share the minimum amount of code needed to explain the issue so we can review more quickly :)

Thanks @aluo-x for explaining the zbuf/fragments :)  As mentioned, we expose the zbuffer as part of the `fragments` object which is output from the rasterizer.  It will be a `N x H x W x K` dimensional ten

[2020-01-29 22:08] #18 closed

[2020-01-31 03:28] aluo-x opened #19 "Difference between SoftRas and Pytorch3d textured output"
To preface, it is very likely that I am doing something wrong, as I didn't closely look at the blending code in Pytorch3d. Would appreciate any advice on this particular topic.

Was comparing the silhouette and color output between SoftRas and Pytorch3d. The silhouette is very very similar, with a few pixels difference, perhaps due to some kind of rounding or offset issue.

But the textured (color

[2020-01-31 05:25] nikhilaravi commented on #19
@aluo-x  I can try to replicate this and get back to you tomorrow. I think it is due to some parameter setting in the blending.

In the meantime you could try to copy [this function](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/renderer/blending.py#L93) and play around with the settings and then define a new shader which uses it (e.g. copy the [TexturedPhongShader](https://g

[2020-01-31 18:11] aluo-x commented on #19
Playing around with gamma & sigma doesn't seem to cause the artifacts to disappear in the color image. The artifacts occur only if blur radius is set to greater than 0, even for very small values like 1e-5. Using hard/soft rgb blending doesn't seem to affect the artifacts either.

If this is a bug, then probs somewhere in the raster code?

[2020-02-03 19:33] nikhilaravi commented on #19
@aluo-x There are a couple of things you need to change. First pass in the `blend_params` to the `TexturedPhongShader` as currently the default values are being used so any changes you make will not be used,:

[code]

Secondly, you need to enable barycentric clipping to `[0, 1]` before texture interpolation. I will add this in a pull request soon but in the meantime you can enable this by changing

[2020-02-03 23:36] aluo-x commented on #19
Apologies, made an error when copy pasting the code. My full notebook had too much unrelated stuff to fully paste here.

Minor question, by clamping the value to [0,1] wouldn't we be stopping the gradient at the border? Unsure if this would matter, but would something like:
[code]
be necessary? Or do we not need the gradients to be calculated at the edge? Much appreciated for the help debugging th

[2020-02-04 00:29] nikhilaravi commented on #19
@aluo-x we have a function which does the barycentric clipping see [here](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/renderer/mesh/texturing.py#L11). To enable this you just need to set `bary_clip=True` at the line mentioned above. This uses the `torch.clamp` function which is differentiable.

In addition to the two steps mentioned above, one last step to resolving the iss

[2020-02-04 01:22] aluo-x commented on #19
Much appreciated! This does look more right.

Minor nitpick, I was under the impression that clamp only passed gradients to points within or on a given bound, and a quick test seems to confirm this.
[code]
I have no idea if this is enough to be an issue. If not please feel free to close the issue.

[2020-02-04 04:51] nikhilaravi commented on #19
@aluo-x If you want to still pass gradients in the backward pass but clamp in the forward pass then you can try using a 'fakeclamp' function. For example a simple version could look like this:

[code]

For reference, in SoftRasterizer, the clamping is done in the cuda kernel not in PyTorch. In the backward pass cuda kernel, there is some gradient flow to the clipped inputs (from what I understand

[2020-02-04 17:48] nikhilaravi commented on #19
@aluo-x Let me know if this answers your question. Also what is the task you are working on? It would be easier to identify what the effect of clamping on the gradients would be depending on the use case e.g. are you use the RGB images for computing a loss?

[2020-02-04 17:55] aluo-x commented on #19
Much appreciated! You really went above and beyond. It really has answered all of my questions. Hopefully the z interpolation bit can be merged into master.

The project that I am working involves many small, potentially very irregular meshes in a single scene that can warp and change depending on several factors, and the loss currently is RGB & mask with the usual regularization applied, in this

[2020-02-04 17:55] #19 closed

[2020-02-04 19:29] nikhilaravi commented on #19
@aluo-x Great, glad to help! :)  We'll get the z interpolation with clipping added soon and also support for the per face texturing.

Regarding the *"outputs that other diff renderers do not provide  or do not provide in sufficiently high quality"* could you share what these are? No worries if you are not ready to share this yet.

It's great for us to know how people are using the PyTorch3d render

[2020-02-06 18:18] jbohnslav commented on #17
I'm also quite interested in this feature!

[2020-02-06 18:43] nikhilaravi commented on #17
@jbohnslav We are planning to implement this soon.

[2020-02-06 19:55] tchaton opened #20 "Collaboration"
## ❓ Questions on how to use PyTorch3d

Dear people of Pytorch3D,

We are actively working on a project called Pytorch Deep Point Cloud Benchmark, with hydra as our core configuration tool.

I thought it could be of any interest

Here is the repo link: https://github.com/nicolas-chaulet/deeppointcloud-benchmarks
and its associated cuda / cpp library: https://github.com/nicolas-chaulet/torch-points

[2020-02-06 21:33] nikhilaravi commented on #20
@tchaton Thanks for sharing your codebase. We will definitely take a look :)

[2020-02-06 21:33] #20 closed

[2020-02-07 08:51] cianeastwood opened #22 "Source to target mesh + texture"
Deforming source to target texture along with the mesh – if possible! Textured interpolation between two objects would be extremely useful for evaluating inverse-graphics models.

[2020-02-07 12:55] sinanmut opened #25 "cuda errors"
Hi,
I tried to install the package with "python3 setup.py install --user" but I got a few errors:
- pytorch3d/csrc/nearest_neighbor_points/nearest_neighbor_points.cu(231): error: a pointer to a bound function may only be used to call the function
- pytorch3d/csrc/nearest_neighbor_points/nearest_neighbor_points.cu(231): error: type name is not allowed
- pytorch3d/csrc/nearest_neighbor_points/neares

[2020-02-07 13:21] bottler commented on #25
Cuda 10.0 should be fine. Can you give some more details about your environment: which operating system are you running on? Are you using a new conda environment? Thanks

[2020-02-07 14:20] sinanmut commented on #25
Hi,
Thanks for the quick reply. I am on CentOS 7 (Linux 3.10.0-957.27.2.el7.x86_64) and I am behind a firewall so I don't have direct internet access. The gcc version on my desktop is 5.5.0. The specific cuda version: release 10.0, V10.0.130

Thanks a lot

[2020-02-07 15:36] semihcanturk opened #26 "ImportError: dlopen(): Symbol not found after installation"
After installing the requirements, running the `render_textured_meshes.ipynb` fails on the first cell with the following error:
[code]

## Instructions To Reproduce the Issue:

1. PyCharm -> Get From Version Control -> https://github.com/facebookresearch/pytorch3d
2. Install requirements
3. run `python setup.py build develop` from root directory
4. run `render_textured_meshes.ipynb`

Any help is m

[2020-02-07 15:38] nikhilaravi commented on #22
@cianeastwood to clarify do you mean source to target mesh deformation with texture using differentiable rendering or with 3D loss functions? The demo in the tutorials is using the 3D mesh losses for the deformation. Do you want to add texture to this example?

[2020-02-07 15:40] nikhilaravi commented on #26
@semihcanturk this looks like an error with building CUDA. Can you share more details about the environment you are using e.g. CUDA version?

[2020-02-07 15:47] semihcanturk commented on #26
I was trying to get it working on CPU only, don't have CUDA available unfortunately. INSTALL.md mentions some components have CPU implementations in C++/Pytorch as well, but I assume this particular tutorial requires GPU implementations in this case.

[2020-02-07 16:21] sinanmut commented on #25
Hi,
It was my mistake that my pytorch version was older than 1.4. It is solved now.
Thanks again

[2020-02-07 16:44] yoDon opened #28 "Missing char in instructions for pip installing pytorch3d.git"
If you do not know the root cause of the problem / bug, and wish someone to help you, please
post according to this template:

## 🐛 Bugs / Unexpected behaviors

The [top level tutorials page](https://pytorch3d.org/tutorials/) currently tells visitors to

[code]
The second line is missing a closing single quote, resulting in errors when visitors try to follow the instructions.

PR submitted as http

[2020-02-07 17:12] yoDon opened #29 "meshes.py fails to import in colab notebooks"
If you do not know the root cause of the problem / bug, and wish someone to help you, please
post according to this template:

## 🐛 Bugs / Unexpected behaviors

## Instructions To Reproduce the Issue:

1. Open the [Fit Mesh](https://pytorch3d.org/tutorials/deform_source_mesh_to_target_mesh) tutorial page
1. Click the [Open in Colab](https://colab.research.google.com/github/facebookresearch/pytorch

[2020-02-07 17:16] REscanDon commented on #26
See also https://github.com/facebookresearch/pytorch3d/issues/29 (which I now realize is a dupe of this issue but with a different title and seen running in the tutorial colab notebooks context)

[2020-02-07 17:40] filipetrocadoferreira opened #30 "Optimize Object Pose with a PhongShader instead of SilhouetteShader"
I'm trying to optimize a mesh pose using a target image and the rendered. Because I'm working in synthetic domain I thought that I could use PhongShader instead of Silouette proxy.

However, right in first iteration weights explode. Is there a simple justification for this? Or maybe I'm doing something wrong?

[2020-02-07 17:41] sinanmut commented on #29
Hi,
I have the same error: ImportError: /usr/local/lib/python3.6/dist-packages/pytorch3d/_C.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _Z24RasterizeMeshesNaiveCudaRKN2at6TensorES2_S2_ifib

Is there any solution for this error?
Thanks

[2020-02-07 17:45] sinanmut commented on #26
Hi,
I have cuda 10.0 and t trying to build the package with "python setup.py install --user". I am getting the save error for "from pytorch3d.structures import Meshes".

[2020-02-07 19:30] nikhilaravi commented on #26
@sinanmut @REscanDon @semihcanturk I am looking into this and will report back soon.

[2020-02-07 21:56] FeliMe opened #31 "ModuleNotFoundError: No module named 'dataclasses'"
If you do not know the root cause of the problem / bug, and wish someone to help you, please
post according to this template:

## 🐛 Bugs / Unexpected behaviors

error when trying to import pytorch3d.renderer

## Instructions To Reproduce the Issue:

I installed pytorch3d according to the INSTALL.md file (installed pytroch3d from Anaconda Cloud), when I try to import pytorch3d.renderer, I get the f

[2020-02-07 23:07] nikhilaravi commented on #31
Hi @FeliMe dataclasses is available in Python 3.7? We are updating the anaconda cloud package to support Python 3.6 as well.  For now can you try changing the python version to 3.7 and running the code again?

[2020-02-07 23:30] FeliMe commented on #31
Updating to Python 3.7 worked, thanks @nikhilaravi !

[2020-02-07 23:30] #31 closed

[2020-02-08 00:07] nikhilaravi commented on #29
While we fix the issue in the installation to get unblocked with the colab notebooks, you can use the anaconda cloud package.  In the first cell few cells in the colab notebook run the following steps:

1) Install anaconda cloud
Either install miniconda
[code]

**OR** Install Anaconda 3.5
[code]

2) Set path:
[code]

3) Install pytorch, torchvision and fvcore:
[code]

4) Install pytorch3d
[code]

[2020-02-08 00:08] nikhilaravi commented on #25
@sinanmut glad you resolved the issue. I will close this issue!

[2020-02-08 00:08] #25 closed

[2020-02-08 00:11] nikhilaravi commented on #26
@sinanmut your issue is now resolved.  @semihcanturk we are making some changes so the library can be built for cpu only. We will try to get this fixed ASAP.  In the meantime please see #29 for instructions on how to run the tutorials in a collab environment.

[2020-02-08 17:56] amiltonwong opened #33 "import error"
Hi, all,

I got the following import error:

[code]

My config is pytorch==1.4, torchvision==0.5.0, CUDA=10.0. It seems there's conflicts with the packages? Any hints to solve it?

THX!

[2020-02-08 19:45] jcjohnson commented on #33
Does it work if you import pytorch3d before importing _C?

[code]

[2020-02-09 04:37] nikhilaravi commented on #29
This is issue now fixed on master so `pip install 'git+https://github.com/facebookresearch/pytorch3d.git'` will work in a colab notebook.

[2020-02-09 04:37] #29 closed

[2020-02-09 04:39] nikhilaravi commented on #26
@semihcanturk a fix has been landed in master so please try again with the latest version of the repo. If you still experience problems feel free to reopen this issue.

[2020-02-09 04:40] nikhilaravi commented on #33
Are you using the conda package or trying to install from source?

[2020-02-09 09:36] zozobozo opened #35 "object depth information"
Hi,

Thanks for sharing your great work!
I was wondering - can one render a mesh and get per-pixel depth too, like e.g. [mesh-renderer](https://github.com/BerkeleyAutomation/meshrender/blob/25b6fb711ef7a7871a5908459e6be5c76a04b631/meshrender/render.py#L480) allows you to do?

Thanks a lot!
Z.

[2020-02-09 10:18] amiltonwong commented on #33
Thanks @jcjohnson @nikhilaravi for your replies.

@jcjohnson ,
`import pytorch3d`
This line works. But the second line `from pytorch3d import _C` prompts the above error.

@nikhilaravi ,
I install it from local clone as [guided](https://github.com/facebookresearch/pytorch3d/blob/master/INSTALL.md#3-install-from-a-local-clone)

[2020-02-09 17:24] nikhilaravi commented on #35
Hi @zozobozo yes you can get the per pixel depth (for the top k faces which overlap with that pixel) from the [output of the mesh rasterizer](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/renderer/mesh/rasterizer.py#L126-L131). `fragments.zbuf` is a `(N, H, W, K)` dimensional tensor.

To retrieve this output, you can initialize a rasterizer and only use that e.g.
[code]

OR i

[2020-02-09 18:40] nikhilaravi commented on #33
@amiltonwong were you able to resolve this issue after installing from a local clone?

[2020-02-09 21:14] bottler commented on #33
I think you may need `import torch` before a line like `from pytorch3d import _C`, which touches pytorch3d's internals, can possibly work.

[2020-02-09 22:03] cianeastwood commented on #22
@nikhilaravi yes I mean with 3D loss functions, as in the example you have from a sphere to a dolphin. Yes it would be great adding texture to this example, allowing the object to be rendered, at various points of the deformation, with a sensible texture.

[2020-02-09 22:16] anandijain opened #36 "Install through PyPI"
I am wondering why the package is not on PyPI. I am thinking it is because of some of the dependencies, but I'm not sure.

Installing through PyPI without conda makes it much easier for anyone to get started.
This is useful for many users.

[2020-02-10 07:22] jinfagang opened #37 "ModuleNotFoundError: No module named 'pytorch3d'"
[code]

have that installed but still can not import.

[2020-02-10 09:02] srxdev0619 commented on #10
Hi,

I get the following errors while trying to install Pytorch3d

[code]

The installation commands I ran were the following, in the order of execution

[code]
[code]

[code]

I'm using Visual Studio 2019 Community. It'd be great if these errors could be fixed. Thank you!

[2020-02-10 09:17] Hemantr05 opened #38 "Installation with anaconda cloud fails"
`conda install pytorch3d -c pytorch3d`

gives the below output:

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: failed with i

[2020-02-10 10:13] sinanmut commented on #26
I don't have any errors any more, thanks a lot!

[2020-02-10 10:34] bottler commented on #38
Which operating system are you on? Can you please paste the output of `conda list`. Thanks

[2020-02-10 10:37] bottler commented on #37
The pytorch3d library is currently not available through `PyPI`, so `pip install pytorch3d` does not install it. Can you install in one of the ways suggested in [INSTALL.md](https://github.com/facebookresearch/pytorch3d/blob/master/INSTALL.md)?

[2020-02-10 10:38] #37 closed

[2020-02-10 12:13] semihcanturk commented on #26
I'm afraid the issue persists on my end. Reinstalled the latest master via `pip3 install git+https://github.com/facebookresearch/pytorch3d.git`, and the error is very much the same, except the last section:
[code]
has been replaced by this simpler message:
`ImportError: cannot import name '_C' from 'pytorch3d' (/Users/semo/PycharmProjects/pytorch3d/pytorch3d/__init__.py)`

Can you reopen the issue

[2020-02-10 12:27] hansen7 opened #39 "More Point Sampling Methods from meshes"
## 🚀 Feature
More Point Sampling Methods from meshes

## Motivation

It would be great if I could have more options on how to get the set of surface point with different point samplings, such as

- Furthest Point Sampling [referred paper](https://papers.nips.cc/paper/7095-pointnet-deep-hierarchical-feature-learning-on-point-sets-in-a-metric-space.pdf)
- Poisson Disk Sampling  [referred paper](http

[2020-02-10 14:12] zozobozo commented on #35
thanks for the quick answer! i'll give it a try!
Best,
Z.

[2020-02-10 14:12] #35 closed

[2020-02-10 15:08] claireroman opened #40 "Available for Windows ?"
Hi,

We can remark that this package is only available for Linux and MacOS. Can we have a version for Windows ? Thank you for answering.

[2020-02-10 15:45] jcjohnson commented on #30
Can you post a bit of code that reproduces the problem? That will make it easier for us to help.

[2020-02-10 15:49] nikhilaravi commented on #36
@anandijain this is on our roadmap! We hope to release a PyPi package soon.

[2020-02-10 15:51] nikhilaravi commented on #26
@semihcanturk can you try doing `import torch` before importing pytorch3d?

[2020-02-10 15:52] nikhilaravi commented on #40
@claireroman thanks for raising this issue. Windows support is on our roadmap! Stay tuned!

[2020-02-10 16:04] nikhilaravi commented on #30
@filipetrocadoferreira I can take a look at this and get back to you. You may need to increase the `faces_per_pixel` for the PhongShader.

[2020-02-10 16:58] REscanDon opened #41 "Fit Mesh sample fails in Colab due to missing mesh"
If you do not know the root cause of the problem / bug, and wish someone to help you, please
post according to this template:

## 🐛 Bugs / Unexpected behaviors

## Instructions To Reproduce the Issue:

1. Browse to [Fit Mesh tutorial](https://pytorch3d.org/tutorials/deform_source_mesh_to_target_mesh)
1. Click on the "Open in Colab" button
1. Manually add a cell to import pytorch3d per instructions

[2020-02-10 17:08] nikhilaravi commented on #41
@REscanDon you will need to follow the instructions in the tutorial to download the dolphin obj:

<img width="884" alt="Screen Shot 2020-02-10 at 9 06 55 AM" src="https://user-images.githubusercontent.com/5912647/74172270-cb150300-4be4-11ea-858d-85e4b2302730.png">

[code]
Then upload it to the google drive folder where you have the notebook.

<img width="340" alt="Screen Shot 2020-02-10 at 9 06 35

[2020-02-10 17:12] REscanDon commented on #41
May I recommend adding those steps to the tutorial instructions rather than to a bug that's presumably about to be closed? I'm sure I'm not the only person trying to work through the tutorials who doesn't know how to download data into a colab notebook.

[2020-02-10 17:16] REscanDon opened #42 "Bundle Adjust tutorial fails in colab due to missing utils"
If you do not know the root cause of the problem / bug, and wish someone to help you, please
post according to this template:

## 🐛 Bugs / Unexpected behaviors

## Instructions To Reproduce the Issue:

1. Browse to [Bundle Adjust tutorial](https://pytorch3d.org/tutorials/bundle_adjustment)
1. Click on the "Open in Colab" button
1. Manually add a cell to import pytorch3d per instructions [here](htt

[2020-02-10 17:38] amiltonwong commented on #33
@nikhilaravi @bottler , Thanks a lot for your help. It's solved after installing the new updated repo. I confirmed that `import torch` is needed before `from pytorch3d import _C` as mentioned by @bottler .

[2020-02-10 17:38] #33 closed

[2020-02-10 18:17] yuanluxu commented on #10
Hi @srxdev0619, I believe I fixed this issue in my fork. You can clone my folk and re-compile it.
https://github.com/yuanluxu/pytorch3d

[2020-02-10 18:21] nikhilaravi commented on #41
@REscanDon sure we can update the tutorial with instructions on how to do this. Thanks for flagging this.

[2020-02-10 18:21] #41 closed

[2020-02-10 18:24] #28 closed

[2020-02-10 18:32] nikhilaravi commented on #39
@hansen7 thanks for the suggestion! :)

Could share some more details about your proposed implementation for either of the two methods you mentioned above?

Please be aware that for new features to PyTorch3D we require:
1)  CPU and GPU implementations
2) Comprehensive unit tests and benchmark tests (following the format in the `tests` folder)
3) All style checks and unit tests must pass
4) Any cha

[2020-02-10 19:36] csverma610 opened #43 "DataSet"
Hello,

Is it possible to provide the dataset used in the examples? I think, the dolphine
data is not available in the data folder.

Thanks.

[2020-02-10 19:38] nikhilaravi commented on #43
@csverma610 please follow the instructions in the tutorials for downloading the dolphin data:

<img width="884" alt="Screen Shot 2020-02-10 at 9 06 55 AM" src="https://user-images.githubusercontent.com/5912647/74183480-dfafc600-4bf9-11ea-9c35-6838ecb7148e.png">

[2020-02-10 19:39] #43 closed

[2020-02-10 20:02] semihcanturk commented on #26
That is how it is right now. I also tried moving `import torch` to a cell above the one that imports pytorch3d and ran the cells sequentially, but neither case worked.

[2020-02-10 21:10] nikhilaravi commented on #26
@semihcanturk it seems PyTorch3D was not installed properly. Did you try pip uninstall and reinstalling?

[2020-02-10 21:22] semihcanturk commented on #26
yup. tried uninstall/installing both the default `pip install pytorch3d` (v 0.0.1) and the latest master via `pip install git+https://github.com/facebookresearch/pytorch3d.git` (v 0.1), but the issue remains.

[2020-02-10 21:29] semihcanturk commented on #26
oh, my apologies - I think the issue arose from the cloned repo (where the tutorials are) rather than the installed pytorch3d package. It seems to be resolved now that I ran `python3 setup.py build develop` on the repository root.

[2020-02-10 21:47] semihcanturk opened #44 ""RuntimeError: Not implemented on the CPU." in deform_source_mesh_to_target_mesh.ipynb"
When running the `deform_source_mesh_to_target_mesh.ipynb` tutorial, I encounter the following error in the 'sample_points_from_meshes()' function in the main optimization loop, cell 10 under section "3. Optimization loop":

[code]

## Instructions To Reproduce the Issue:
1. Clone & build the latest master (v 0.1)
2. Run the `deform_source_mesh_to_target_mesh.ipynb` notebook **on the CPU as oppose

[2020-02-10 21:52] nikhilaravi commented on #44
@semihcanturk thanks for raising this issue! We are currently working on more complete CPU support for all CUDA operators (`face_areas_normals` only has a CUDA implementation).  In the meantime can you try running this on a GPU with Colab?

[2020-02-10 21:54] nikhilaravi commented on #26
ok great! I will close this issue!

[2020-02-10 21:54] #26 closed

[2020-02-10 21:56] nikhilaravi commented on #42
@REscanDon thanks for raising this issue. We will update the tutorials with a fix soon. In the meantime to get unblocked you could copy paste the functions from [utils/camera_visualisation.py](https://github.com/facebookresearch/pytorch3d/blob/e290f87ca949c077803d2da02c48173607ce70e4/docs/tutorials/utils/camera_visualisation.py) into the colab notebook.

[2020-02-11 04:29] nikhilaravi commented on #42
@REscanDon the tutorial has now been updated to use `wget` to retrieve all the necessary code. We have included the commands to do this in one of the notebook cells so you can just run this cell.  If you still experience issues please reopen the issue.

[2020-02-11 04:29] #42 closed

[2020-02-11 04:30] nikhilaravi commented on #41
@REscanDon the tutorial has now been updated with a `wget` command to retrieve the necessary data. You can just run this notebook cell and do not need to do anything manually.

[2020-02-11 06:24] ruslanvasylev opened #45 "Sphere to Dolphin. Verts + Faces + Normals"
How do I force pytorch to calculate/import and incorporate normals when fitting the source to the target.

In my case, both the source and the target objs are somewhat similar and can draw upon normal values to guide fitting.

Any pointers?

Thank you

[2020-02-11 07:09] srxdev0619 commented on #10
Yes! The fix works perfectly, thank you so much!

[2020-02-11 07:34] Hemantr05 commented on #38
Ubuntu 18.04 is the OS I'm on.

![image](https://user-images.githubusercontent.com/29824145/74217968-fd9b2a80-4cce-11ea-955b-c6608200140a.png)

[2020-02-11 08:12] claireroman commented on #40
Great :) Thank you !

[2020-02-11 08:31] shersoni610 opened #47 "Installation issues."
Hello,

Sorry, I am a newbee to Pytorch but got attracted to 3D mesh.  I am having very hard time
making Pytorch3D working. I am not sure if I should be asking these questions here.

1.   I installed NVidia-Driver 440.59 on Ubuntu 18.04.
2.   The Compiler is GCC 8.3
3.   nvidia-smi says that CUDA-10.2 is installed.
4.   Thereafter, I went to Pytorch library and opted Conda + 10.1 with the given co

[2020-02-11 11:34] bottler commented on #38
The conda environment is totally empty (as shown by `conda list`). I would expect, in that case, `conda install -c pytorch pytorch torchvision cudatoolkit=10.0` to install python and other things, and that's what happens for me. Once this has failed, there is no chance of being able to install `pytorch3d`.

Does `conda install python` work? Do you have other conda environments where python is work

[2020-02-11 12:04] bottler commented on #47
The problem to solve is number 4. That is the correct thing to run and should run easily.

`conda install pytorch-gpu`, which I think is what you did in 5, won't help. I don't know where that package comes from, but it is an older version (1.3) of pytorch. Pytorch3d won't work with that.

Can you set up a new conda environment with python working?  E.g. `conda create -n myenv python=3.8`. If this

[2020-02-11 12:29] rlawns324 opened #48 "A small typo on website "pytorch3d.org/tutorials""
I found a small typo on [pytorch3d.org tutorial](https://pytorch3d.org/tutorials/)

<img width="950" alt="Screen Shot 2020-02-11 at 9 14 25 PM" src="https://user-images.githubusercontent.com/28533936/74236521-bafc4100-4d14-11ea-8b01-f2ad1562ad4a.png">
As I mentioned on screenshot above,
the command

`!pip install 'git+https://github.com/facebookresearch/pytorch3d.git`
should be fixed to
` !pip ins

[2020-02-11 13:26] Hemantr05 commented on #38
I have pytorch and torchvision installed in my environment. (If you see the first line of the screenshot)
And as you can see, cuda==9.1 was installed.

And yes, conda install python works

The issue might be due the cuda version.

[2020-02-11 13:49] bottler commented on #38
I don't see pytorch and torchvision installed in the first line of the screenshot. I see a failed attempt to install them. `Segmentation fault (core dumped)` means there was a catastrophic error, and in this case I expect nothing has been done to the environment by this command. That's why I'm suspicious of your conda installation.

`conda list` is showing that there is nothing installed in the en

[2020-02-11 14:20] nikhilaravi commented on #48
Thanks for raising this as an issue. This change has already been made and we will update the website soon!

[2020-02-11 14:20] #48 closed

[2020-02-11 14:31] nikhilaravi commented on #45
The [chamfer loss](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/loss/chamfer.py#L35-L39) accepts both xyz point positions as well as normals and returns a loss for both.

In the demo, we sample 5k points from the surface of the mesh using the [`sample_points_from_meshes`](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/ops/sample_points_from_meshes.py#L16

[2020-02-11 18:59] jahaniam opened #50 "R is not a valid rotation matrix"
Tried to run the _'camera_position_optimization_with_differentiable_rendering.ipynb_' with my custom obj. Although it works fine for the provided obj, for my custom obj the `look_at_view_transform` and `look_at_rotation` sometime returns :

 `R is not a valid rotation matrix`  which is weird!

[2020-02-11 19:33] nikhilaravi commented on #50
Can you share a code snippet? e.g. how are you calling `look_at_view_transform` and `look_at_rotation`? The warning is from the `Transforms3d` class instance which is returned from `look_at_view_transform`, so it should be independent of the obj that is used.

[2020-02-11 19:34] nikhilaravi commented on #45
@ruslanvasylev If this answers your question please close this issue.

[2020-02-11 19:44] gkioxari commented on #45
@ruslanvasylev Note that we have spent a significant amount of time documenting all of our losses. In our API docs you can find all the details regarding our implementations. For example, for chamfer you can read more details [here](https://pytorch3d.readthedocs.io/en/latest/modules/loss.html).

[2020-02-11 20:32] a-jahani commented on #50
Thank you for your quick reply. Yeah, you are right. If I set:
[code]
I'm using the same template notebook as it is in the repository with the teapot. This happens when elevation is 90 or -90 or etc.

That's probably why my loss becomes NaN, if in the optimization process the elevation becomes 90 somehow then I'm assuming it will be unstable and won't converge

[2020-02-12 03:08] zhjscut opened #51 "Render object without texture"
Hi, I want to ask how can I render objects that have no texture information? Such as ShapeNetSem dataset, whose .obj file contain no line start with "vt ".
And there is the content of a corresponding .mtl file below:
\# Blender MTL File: 'None'
\# Material Count: 1
newmtl None
Ns 0
Ka 0.000000 0.000000 0.000000
Kd 0.8 0.8 0.8
Ks 0.8 0.8 0.8
d 1
illum 2

As far as I know, MeshRenderer class need a

[2020-02-12 03:19] WMF1997 commented on #40
Hello, I manage to compile it on Windows 10 (1909 version). but failed.

I use Microsoft Visual Studio 2019's MSVC compiler (19.00.24245), instead of GNU GCC >=4.9 compiler, to compile. And this is the only difference between my installation environment and recommended installation environment.

finally, it raises errors like this.
[code]
And I wonder what is the problem?

yours sincerely,
@wmf199

[2020-02-12 06:06] #45 closed

[2020-02-12 06:34] Hemantr05 commented on #38
The screenshots below show the output of `conda list`, and includes pytorch as well.

![Screenshot from 2020-02-12 12-02-28](https://user-images.githubusercontent.com/29824145/74308986-a27d3c80-4d8f-11ea-8689-2d2d33a640d1.png)

![Screenshot from 2020-02-12 12-02-16](https://user-images.githubusercontent.com/29824145/74308969-9d1ff200-4d8f-11ea-8796-d10264a04f0c.png)
![Screenshot from 2020-02-12 12

[2020-02-12 10:29] filipetrocadoferreira commented on #30
I was having a hard time spliting the code to show here
So, I tried camera pose optimization tutorial and changed the SilhouetteShader with a Phong, and it worked.

In my problem, I estimate Rotation (R) from a neural network but after the first backpropagation, all values go to nan, but the loss is finite.

[2020-02-12 11:05] bottler commented on #38
Thanks. That's (most of) the output of `conda list` in your base environment. It has a lot of packages, including pytorch 1.3.1 which is too old for pytorch3d. It makes sense that (like in your first message) it fails with `Found conflicts!` or similar.

In your second message I see part of an attempt to install in a different environment, called `pytorch3d`. What I said in my previous message wil

[2020-02-12 14:34] Chr1k0 commented on #51
Here you find an example: https://github.com/facebookresearch/pytorch3d/blob/master/docs/tutorials/camera_position_optimization_with_differentiable_rendering.ipynb

-Load the obj and ignore the textures and materials.
verts, faces_idx, _ = load_obj("./data/teapot.obj")
faces = faces_idx.verts_idx

-Initialize each vertex to be white in color.
verts_rgb = torch.ones_like(verts)[None]  # (1, V, 3)
t

[2020-02-12 15:57] nikhilaravi commented on #30
@filipetrocadoferreira ok great!!

[2020-02-12 15:57] #30 closed

[2020-02-12 16:19] czkg commented on #17
This feature is critical!

[2020-02-12 17:16] MarkTension opened #53 "install and use pytorch3d CPU only (no training)?"
Hi!

I'd like to just use the simple demo (no training) of mesh-r-cnn, and don't have a cuda-capable gpu on my macbook. Can I install and use this only with CPU? Or is it only made for gpu usage? Thanks!

[2020-02-12 18:27] gkioxari commented on #53
Hi @MarkTension! There is currently some functionality in pytorch3d that has only GPU support. We are currently working on adding cpu implementations for all these functions. Stay tuned!

[2020-02-12 20:13] yuanluxu commented on #40
@WMF1997 Check and clone my fork and all MSVC build issues should be fixed. https://github.com/yuanluxu/pytorch3d

[2020-02-12 22:15] nikhilaravi commented on #51
@Chr1k0 thanks for stepping in to help!

To clarify your points:
1) `texture` is *not required* as an input to Meshes - so you don't need to pass in `textures=None`.
2) Not all shaders require texture. The shaders are meant to be entirely customizable so if you do not require texturing you can simply create a new Shader class with a `forward` method which does not have a texturing step.  If you do

[2020-02-12 22:17] nikhilaravi commented on #53
#44 is also referencing this issue.

[2020-02-13 03:37] zhjscut commented on #51
@Chr1k0 @nikhilaravi Thanks! You solve my problem~

[2020-02-13 03:37] #51 closed

[2020-02-13 08:43] Hemantr05 commented on #38
Will check on it, and get back.

[2020-02-13 14:56] ChildAdrian opened #57 "cuda nvcc compile issue with pytorch 1.4.0 on windows"
Hi! my env: win10, pytorch 1.4.0, py3.7, cuda10.2
when i run setup.py it return with:

C:/python37/lib/site-packages/torch/include\torch/csrc/jit/argument_spec.h(190): error: member "torch::jit::ArgumentSpecCreator::DEPTH_LIMIT" may not be initialized

C:/python37/lib/site-packages/torch/include\torch/csrc/jit/script/module.h(467): error: member "torch::jit::script::detail::ModulePolicy::all_slots

[2020-02-13 18:17] yuanluxu commented on #57
@ChildAdrian Please check Issue 10[https://github.com/facebookresearch/pytorch3d/issues/10] for patching the pytorch 1.4.0 source code.

[2020-02-14 02:05] nikhilaravi commented on #50
@a-jahani ok thanks for sharing more details. I will try to reproduce this and get back to you.

[2020-02-14 03:05] hfutcgncas opened #58 "Error in class transforms.Translate"
## 🐛 Error in class **pytorch3d.transforms.Translate**

I suppose the “translate” part should be in the last column of matrix, not in the last row.

## Instructions To Reproduce the Issue:
when I wrote the code like this:
[code]
I got
[code]

while I suppose the correct response should be
[code]

I suppose chang the ```mat[:, :3, 3]``` to ```mat[:, 3, :3]``` in line 388 and 394 of  pytorch3d.trans

[2020-02-14 04:27] nikhilaravi commented on #58
@hfutcgncas this just depends on whether you are using row-major or column-major ordering. As explained in the [`__init__` function of the `Translate` class](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/transforms/transform3d.py#L110), we assume row-major ordering.

See [this guide](https://www.scratchapixel.com/lessons/mathematics-physics-for-computer-graphics/geometry/row-

[2020-02-14 09:24] hfutcgncas commented on #58
Thank you very much for the explanation.

[2020-02-14 09:24] #58 closed

[2020-02-14 10:05] hfutcgncas commented on #58
I still have a problem here. In the case of using row-major,  I suppose the  matrix of **RotateAxisAngle(a, axis="X")** should be like
[code]
but in [the code of RotateAxisAngle](https://github.com/facebookresearch/pytorch3d/blob/97acf16de248ff799d068380a347651916968edb/pytorch3d/transforms/transform3d.py#L519) it is write like
[code]
Is there something wrong or I got some mistake about the Coordi

[2020-02-14 13:57] m-nez opened #60 "Wrong docstring for mesh_edge_loss"
/pytorch3d/loss/mesh_edge_loss.py

The docstring currently mentions that:

    numbers of edges per mesh in the batch by weighting each mesh with the
    inverse number of edges.

Which is wrong. Edges of meshes with relatively many edges have small weights.
It should be:
Each **mesh** contributes equally to the final loss, regardless of
    numbers of edges per mesh in the batch by weighting each

[2020-02-14 15:54] Jiayi-Wang-MPI opened #61 "Soft blending is not differentiable"
The current implementations of sigmoid_alpha_blend and softmax_rgb_blend in blending.py are not differentiable. This is due the to the replacement of cumulative product with the exponential of log sums for the alpha calculation. When prob_map is 1.0, the gradient is not defined.

[code]

[2020-02-14 17:00] gkioxari commented on #60
Yes you are correct! The language here is confusing. The code is the source of all truth! Thank you for bringing this to our attention! I will add a diff to fix this!

[2020-02-14 17:00] nikhilaravi commented on #58
@hfutcgncas you're right, thanks for pointing this out. If we assume row-major ordering, a right hand coordinate system and that positive angles result in counter clockwise rotation then we need to transpose the rotation matrix as you mentioned. I will make the fix ASAP.

[2020-02-14 20:33] davnov134 commented on #50
Hi @a-jahani,

I took a look into this issue and my first guess is that the instability might happen due to the camera getting into a position where the `look_at_view_transform` cannot be computed.

For instance, if the camera gets to a position (0,0,0) and your `look_at` vector is (0,0,0) as well,
`look_at_view_transform` will return a singular matrix `R` which is not a rotation.

In order to deb

[2020-02-15 01:26] nikhilaravi commented on #61
@Jiayi-Wang-MPI thanks for raising this issue. You can replace this line with the line above - we noticed that `torch.cumprod` backward was not very stable as explained in the comment in the code. Creating C++/CUDA implementations of these blending functions to improve stability is on our roadmap.

[2020-02-15 11:50] zzhat0706 opened #62 "Unknown error with CUDA"
Thank you for your great work at first!
When I try to run deformation of sphere to dolphin tutorial, I found an unexpected errors when loading the vertices of meshes to device, which be set to CUDA:0. Here is the error log:

THCudaCheck FAIL file=/opt/conda/conda-bld/pytorch_1579027003190/work/aten/src/THC/THCGeneral.cpp line=50 error=30 : unknown error
Traceback (most recent call last):
  File "d

[2020-02-15 14:56] tau-yihouxiang commented on #50
@nikhilaravi I encountered the same issue when predicting the camera parameters from images. The loss equals to NaN with error message 'R is not a valid rotation matrix'.

[2020-02-15 18:49] vilhub opened #63 "Cuda runtime error during mesh optimization"
Hi,

First of all, fantastic work I love it :)
I'm modifying the mesh deformation code to learn a mesh from 2D views. The optimization process starts but after about 100 optimization steps, the code crashes with the following (the log is output with `CUDA_LAUNCH_BLOCKING=1`).
[code]
The error could be related to the other issue [here](https://github.com/facebookresearch/pytorch3d/issues/62) but I'

[2020-02-16 06:36] tau-yihouxiang commented on #50
@nikhilaravi If you change the initial camera position to (1.0, 1.0, 1.0) in tutorial 'deform_source_mesh_to_target_mesh.ipynb', then 'nan loss' and 'R is not a valid rotation matrix' will occur.

[2020-02-16 12:43] davnov134 commented on #50
I tried setting the initial position of the camera as you suggested, however I can't run into the issue explained. For me the initial learning step shows the following:
![image](https://user-images.githubusercontent.com/3605260/74604832-95c35600-50b9-11ea-817c-fadfd0ca8923.png)
And the optimization terminates with:
![image](https://user-images.githubusercontent.com/3605260/74604841-a5db3580-50b9-1

[2020-02-16 16:55] nikhilaravi commented on #62
@zzhat0706 I am assuming you built PyTorch3D from local clone? Were you able to run if you change the device to cpu? Are you able to run other pytorch code on device i.e. not with PyTorch3D? This looks like an issue with PyTorch not PyTorch3D.

There's an issue on the PyTorch repo which is referencing this problem - did you check this? https://github.com/pytorch/pytorch/issues/17108

[2020-02-16 17:01] nikhilaravi commented on #63
This is unrelated to the other issue. The `device-side assert` is triggered for example if there are invalid indices being used to index into a tensor.

Before `sample_src = sample_points_from_meshes(new_src_mesh, 5000)` can you add a print statement to check `new_src_mesh.valid` and `new_src_mesh.mesh_to_faces_packed_first_idx()`?

[2020-02-16 17:17] vilhub commented on #63
Thanks for your quick answer.
The output remains the same throughout optimization, even just before the sampling that fails :
[code]

[2020-02-16 17:42] vilhub commented on #63
Something strange, if I print `new_src_mesh.valid` just before the sampling it works fine but if I add the prints in the source code just before the line that triggers the device-side assert it fails :
[code]

[2020-02-16 22:59] nikhilaravi commented on #63
ok it might be something else in the `sample_points_from_meshes` function which is causing the error.
Can you try adding the same print statements  at the beginning of the function?  Can you share the jupyter notebook of your modified code or provide a complete loop that we can run to debug further?

[2020-02-17 02:27] zzhat0706 commented on #62
@nikhilaravi Thanks for your answers!
Before Pytorch3D, I've run some pytorch code like CycleGAN and W-GAN. And I built Pytorch3D from Anaconda Cloud but not the local clone.
But I haven't tried cpu yet, I'll check it later.

[2020-02-17 02:29] zzhat0706 commented on #62
@nikhilaravi Thanks for your answers!
Before Pytorch3D, I've run some pytorch codes such as CycleGAN and W-GAN. And I built Pytorch3D from Anaconda Cloud but not the local clone.
But I haven't tried cpu yet, I'll check it later.

[2020-02-17 02:35] nikhilaravi commented on #19
@aluo-x did you end up needing to use the fakeclamp function instead of `torch.clamp`?

[2020-02-17 02:46] aluo-x commented on #19
Much appreciated for the followup.

I'm currently using the torch.clamp function without any bad effect.
It should be easy to change to the fakeclamp function down the road I think if it ever becomes necessary since pytorch3d is so modular.

Minor (unrelated question), would it be possible to have documentation on how to _canonically_ do multi GPU training? I could open another issue if it is bett

[2020-02-17 08:06] peterjohnsonhuang opened #67 "conda PackageNotFoundError"
I followed the instructions in INSTALL.md to create a new anaconda  env, and install the required packages by the instructions. However, when I use "conda install pytorch3d -c pytorch3d",
I got
PackageNotFoundError: Packages missing in current channels:
  - pytorch3d -> pytorch 1.4
here is my result by typing conda list:
![image](https://user-images.githubusercontent.com/20748448/74633881-a1884880

[2020-02-17 11:37] bottler commented on #67
The list looks healthy - you have all the dependencies right in that list. (I know you are using a 64bit python on Linux because of the `ld` package.) There isn't an obvious problem.

Can you try `conda install -c pytorch3d pytorch3d --verbose` or `conda install -c pytorch3d pytorch3d --verbose --verbose`? Thanks

[2020-02-17 13:26] peterjohnsonhuang commented on #67
when I try conda install -c pytorch3d pytorch3d --verbose, this is what happened:

An unexpected error has occurred.
Please consider posting the following information to the
conda GitHub issue tracker at:

    https://github.com/conda/conda/issues

Current conda install:

               platform : linux-64
          conda version : 4.3.27
       conda is private : False
      conda-env version : 4

[2020-02-17 13:33] jf--- opened #68 "Mac build instructions specify incorrect MACOSX_DEPLOYMENT_TARGET"
Build completes fine with
`MACOSX_DEPLOYMENT_TARGET`  set to 10.14 rather than 10.9 as per instructions

[code]
The build passes when set to the correct target

[2020-02-17 15:36] tcapelle opened #69 "Compute shades between objects (meshes)"
I am implementing a irradiance model forPhotoVoltaic modules. Most of the code is already on pytorch, and I was wondering if I could use some of your functions to compute shades.
I am inexperienced with the domain of computer graphics, and terms as shader, or raster are scary.
I am particularly interested on computing shades produced by the sun, from one row of PV modules to the ground and the row

[2020-02-17 19:29] bottler commented on #67
I can reproduce the error in `continuumio/miniconda3:4.3.27p0` from the docker hub, which matches the version of conda you are using.

Specifically
[code]

If I do the same thing in continuumio/miniconda3:4.4.1, which is the next newer version which has an image available, it works.
(There are cudatoolkit discrepancies but I think that's not the main issue.)
My guess is that our installation instr

[2020-02-17 22:45] nikhilaravi commented on #69
@tcapelle We can only support issues about bugs or specific questions related to the pytorch3d codebase - as mentioned in the issue templates we do not answer general questions about 'how to do X'.  If you have a specific use case of PyTorch3D for which you can explain the exact inputs and outputs we may be able to help.  To get started with PyTorch3D and differentiable rendering, I recommend star

[2020-02-17 22:45] #69 closed

[2020-02-18 02:29] peterjohnsonhuang commented on #67
Ok, thank you for the reply and contribution. I will try again with newer versions!

[2020-02-18 10:45] #67 closed

[2020-02-18 17:11] haithemb opened #70 "differentiable cubify"
## 🚀 Feature
Is it possible to make cubify differentiable ?

## Motivation
I used cubify in a custom loss and I am getting this runtime error:
element 0 of tensors does not require grad and does not have a grad_fn

[2020-02-18 17:46] gkioxari commented on #70
Hi @haithemb! Cubify is not differentiable, explicitly defined [here](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/ops/cubify.py#L49). This is because there is a [thresholding](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/ops/cubify.py#L110) of probabilities in the implementation. You could actually make it differentiable by writing approximate gradien

[2020-02-18 18:01] haithemb commented on #70
Thanks a lot for the prompt response. Could you give some hints or point me out to papers regarding approximate gradients for it? My input volume is already binary.

[2020-02-18 22:27] gkioxari commented on #70
The voxel inputs are already probabilities. So not sure how using a softmax will help. You could sample from the distribution and do something like gumbel-softmax. Or you could define approximate gradients. I will close this issue for now as it's an open problem, but if you devise a solution I'd be happy to take a look!

[2020-02-18 22:27] #70 closed

[2020-02-18 22:49] nikhilaravi commented on #68
can you try the installation without this environment variable?

[2020-02-19 03:54] ethansu1992 opened #71 "ImportError: DLL load failed: The specified procedure could not be found."
Hi i have this issue when i am trying to run the tutorial.

(aienv) C:\Users\Desktop\AIrendering>C:/Users/AppData/Local/Continuum/anaconda3/envs/aienv/python.exe c:/Users/Desktop/AIrendering/meshing.py
Traceback (most recent call last):
  File "c:/Users/Desktop/AIrendering/meshing.py", line 8, in <module>
    from pytorch3d.io import load_objs_as_meshes
  File "c:\Users\Desktop\AIrendering\pytorch

[2020-02-19 06:16] shersoni610 commented on #62
Hello,

I did all the things mentioned above but I still get the error:

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-3-c437faf0af2e> in <module>
     23
     24 # Create a textures object
---> 25 tex = Textures(verts_uvs=verts_uvs, faces_uvs=faces_uvs, maps=texture_image)

[2020-02-19 06:17] shersoni610 commented on #62
I downgraded the Nvidia driver but the error persists:

-----------------------------------------------------------------------------+
| NVIDIA-SMI 435.21       Driver Version: 435.21       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Us

[2020-02-19 06:20] shersoni610 commented on #62
Surprisingly, all the tests in the test folder passed. But the following error comes in the notebook tutorials.
RuntimeError: CUDA error: no kernel image is available for execution on the device

[2020-02-19 06:45] shersoni610 opened #72 "Errors in Rendering"
Hello,

I installed Python3.6 when things did not work with 3.7 and 3.8. Now I get the following errors:

# Copyright (c) Facebook, Inc. and its affiliates. All rights reserved.
Camera position optimization using differentiable rendering
In this tutorial we will learn the [x, y, z] position of a camera given a reference image using differentiable rendering.

We will first initialize a renderer wit

[2020-02-19 07:54] shersoni610 opened #73 "Dolphine to Sphere Mesh"
Transforming a shape with Genus = 0 to a sphere has been well studied topic. Mean Curvature
flow guarantees that during surface evolution, the mesh will not intersect.

In the tutorial on transforming the model what properties are being preserved. Is there any report/article using this approach? Is the Machine learning approach better than classical
approach? Any paper?

[2020-02-19 11:07] bottler commented on #71
How have you installed pytorch3d? The library must be built before it can be used (it is not pure python). It does not yet build straightforwardly on Windows.

[2020-02-19 11:23] ethansu1992 commented on #71
Hi bottler, i have installed pytorch3d:

(base) C:\Users\ethansu>conda activate aienv

(aienv) C:\Users\ethansu>python
Python 3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 14:00:49) [MSC v.1915 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

hence i am not sure why its still not working. Thank you so much for your help

[2020-02-19 11:27] bottler commented on #62
I can't see the name of the GPU you are using due to truncation. ("GeForce GTX TIT...") Is it a TITAN X? If it is one of the other TITANs, then I think it will have compute capability 3.5 and so need a local build of pytorch.

[2020-02-19 11:29] bottler commented on #71
Like I asked. *How* have you installed it? `import pytorch3d` working only shows that it can find the python source files, not that it has been built or installed.

[2020-02-19 11:40] bottler commented on #72
This is a known problem with python 3.6. We use a python feature which doesn't exist there. This is fixed in the version on github, and we hope to have a full release soon.
For the moment, as a temporary solution, you can try overwriting the file `~/Disk/Software/Anaconda3/envs/pytorch3d/lib/python3.6/site-packages/pytorch3d/renderer/mesh/rasterizer.py` with the text at https://raw.githubuserconte

[2020-02-19 15:49] Jiayi-Wang-MPI opened #74 "Camera Position Optimization with phong_renderer"
I replaced the silhouette_renderer with the defined phong_renderer in the Camera Position Optimization example. Essentially I replaced the following line.

[code]
With this modification, the optimization provides zero gradient and no longer updates the camera position or loss. Is this expected behavior?

[2020-02-19 16:32] bottler commented on #72
OP's issue in other pythons is in #47. It seems that pytorch itself would not install.

[2020-02-19 16:51] nikhilaravi commented on #74
@Jiayi-Wang-MPI The `phong_renderer` only uses 1 face for each pixel and applies hard blending i.e uses the only the color of the closest face for each pixel. If you look at the `raster_settings` you can see the option `faces_per_pixel` is set to 1.  You'll need to make the following changes.

1) Set the rasterization settings to the same values as for the `SilhouetteShader`
[code]
2) Define a new

[2020-02-19 16:54] michele-arrival opened #75 "Big Runtime Error with some particular BlendParams"
## 🐛 Bugs / Unexpected behaviors

Rendering a simple triangle with `SilhouetteShader` and `BlendParams` as follows
[code]

gives a big runtime error. However if `bin_size=0`, no errors arise.

## Instructions To Reproduce the Issue:

1. My environment:

- pytorch version: from source revision 234658901ae1891c71f6aed2dcf617ab1964851d (latest as of today) installed as `pip install git+git://github.c

[2020-02-19 16:58] bottler commented on #16
Thanks. We've updated the instructions to recommend this.

[2020-02-19 17:00] bottler commented on #68
Thanks for the report. We have updated the instructions now. (This was noticed as well in #16)

[2020-02-19 17:00] #68 closed

[2020-02-19 17:04] nikhilaravi commented on #75
@michele-arrival this is not because of the blend params but the rasterization settings. Currently your values are:
[code]

There are two implementations of rasterization in pytorch3d and the approach that is used is determined by the value of the `bin_size` setting.

The first naive approach (when `bin_size = 0`) loops through all the faces in the mesh for each pixel. The second approach (when bi

[2020-02-19 17:16] gkioxari commented on #73
Hi @shersoni610! The purpose of all of our tutorials is purely instructional. The example of a deforming sphere serves as a way to highlight the various differentiable losses/regularizers we have implemented for 3D data. Our goal is to show how these ops can be defined and used when optimizing an objective with SGD. (Note that they're not limited to the purpose of the tutorial. In Mesh R-CNN, we u

[2020-02-19 17:42] michele-arrival commented on #75
Yes sorry of course I meant `RasterizationSettings`.

Thanks for the explanation, I understand now.
I guess a clearer error message wouldn't be too bad though. For one thing it looks like a low level exception, not a user error, even thought it is. Also It's not immediately clear what `*that*` in `that's too many` is.

As a side note, when the image is big (> 1024) leaving `bin_size` out of the se

[2020-02-19 18:54] nikhilaravi commented on #58
@hfutcgncas This fix has now been landed.

[2020-02-19 20:49] shersoni610 commented on #73
Hello,
I have been trying hard to understand the importance of both Pytorch3D and
Kaolin libraries. I am interested in learning how Machine
learning may fit nicely to the 3D modelling/representation etc problems.
Classical techniques have been implemented in various C++ software
(CGAL, libIGL, Easy3D, Cinolib etc) and I do not know how can I convince
our students to learn these new  machine learni

[2020-02-19 20:52] csverma610 commented on #31
Thanks. I will do it.
Also for others, it will be nice to update the installation instructions.

[2020-02-19 21:12] nikhilaravi commented on #31
@csverma610 this has been changed on master. We will be updating the conda package soon to incorporate this change as well.

[2020-02-19 21:23] csverma610 commented on #31
Hello,

Should we use CudaTookit=10.0 or 10.1 or 10.2 ?

Thanks

On Wed, Feb 19, 2020 at 1:12 PM Nikhila Ravi <notifications@github.com>
wrote:

[2020-02-19 21:34] gkioxari commented on #73
Hi @shersoni610! This is a valid question of course. Libraries provide nails and hammers and it's up to the user to find good use cases for them, if any. For me, it's obvious what we can start exploring with PyTorch3D which classical methods cannot offer. Though, a healthy research community is a diverse community, so I do appreciate and would strongly encourage these parallel efforts (ML vs. non

[2020-02-19 21:34] #73 closed

[2020-02-19 21:42] shersoni610 commented on #62
Hello,

It is Titan GTX Black card.

Ubuntu 18.04 now have many Nvidia drivers. Which is the latest required
driver to build the pytorch3d?
(440, 435, 410)

On Wed, Feb 19, 2020 at 3:27 AM Jeremy Reizenstein <notifications@github.com>
wrote:

[2020-02-20 00:05] nikhilaravi commented on #40
This will be fixed by #9. Thanks @yuanluxu for adding this.

[2020-02-20 00:05] #40 closed

[2020-02-20 00:06] nikhilaravi commented on #57
This will be fixed by #9. Thanks @yuanluxu for adding this.

[2020-02-20 00:06] #57 closed

[2020-02-20 05:12] ethansu1992 commented on #71
Apologies for misunderstanding your question. After i have clone from Github
The next step that i did was:
python setup.py build --build-base=/path/to/pytorch3d
(pytorch3d) C:\Users\ethansu\pytorch3d>python setup.py install

[2020-02-20 05:59] nikhilaravi commented on #44
@semihcanturk  this has now been fixed on master - I tested this tutorial on cpu on colab and it runs without errors.

[2020-02-20 05:59] #44 closed

[2020-02-20 06:01] nikhilaravi commented on #53
@MarkTension We now have CPU support for all the functions used in Mesh R-CNN. Please install PyTorch3D from master with pip.

[2020-02-20 06:01] #53 closed

[2020-02-20 08:18] DemonElite commented on #22
is the Texture can be differentiable?  like "Example 3: Optimizing textures" in the [neural_renderer](https://github.com/hiroharu-kato/neural_renderer)  project

[2020-02-20 11:14] filipetrocadoferreira opened #76 "How to get the 2D location of each vertex in each render?"
Is there any easy way to get the 2D location of each one of the vertices of each rendered image?

[2020-02-20 11:26] bottler commented on #71
That looks like you're running in a conda environment called pytorch3d not aienv, but I'm thinking you've tried the same thing more than once. I don't think those commands will have run successfully unless you've modified the code, because we know the library doesn't build properly on windows yet. (See for example PR #9)

The build should have created a file with a long name called something like

[2020-02-20 11:42] bottler commented on #62
I don't think the driver matters, but you might as well use the latest driver which is working with your GPU. If nvidia-smi is working then you probably have a working driver (although I am not sure about this).

The problem is that you cannot install pytorch (except old versions which we don't support) from conda with your GPU. You will need to set up a new conda environment, and follow the instr

[2020-02-20 11:45] bottler commented on #31
We don't yet have builds for 10.2, because pytorch does not have builds for 10.2 yet. I recommend 10.1 as it's the latest we do have builds for.

[2020-02-20 12:38] shpotes opened #77 "Update minimum requiered python version"
## [doc] 🐛 Bugs

As dataclasses were included in Python 3.7 some modules are broken in Python 3.6, but the installation guide suggests Python 3.6 as default version (see [this](https://github.com/facebookresearch/pytorch3d/blob/master/INSTALL.md#L20))

The following error arises when running one of the examples using a conda installation in Python 3.6
[code]

[2020-02-20 13:14] bottler commented on #77
We have removed dataclasses from master, so that pytorch3d will work on python3.6 if you install straight from github. We hope to have a new version uploaded to conda soon as well.

[2020-02-20 13:14] #77 closed

[2020-02-20 13:18] HectorAnadon opened #78 "Rendering is flipped"
Hello,

I believe that the rendering is being flipped in the X axis. For example, if we see the image render in the tutorial [render_textured_meshes](https://github.com/facebookresearch/pytorch3d/blob/master/docs/tutorials/render_textured_meshes.ipynb) the image looks like this:
![image](https://user-images.githubusercontent.com/12595599/74937118-bd812980-53eb-11ea-85da-7c0035fd0a0b.png)
However,

[2020-02-20 13:46] bottler commented on #77
See also #72

[2020-02-20 14:08] shpotes commented on #72
You can also install dataclasses in python 3.6 and fix the version incompatibility https://pypi.org/project/dataclasses/

[2020-02-20 14:48] nikhilaravi commented on #78
@HectorAnadon thanks for pointing this out. I will check the texture interpolation code and get back to you.

[2020-02-20 14:50] HectorAnadon commented on #78
Sorry, it is not the texture interpolation

[2020-02-20 14:50] HectorAnadon commented on #78
![Screenshot from 2020-02-20 14-08-36](https://user-images.githubusercontent.com/12595599/74945867-b9a7d400-53f8-11ea-8f15-2dbda33eb159.png)
![Screenshot from 2020-02-20 14-08-43](https://user-images.githubusercontent.com/12595599/74945870-bad90100-53f8-11ea-9a1c-e2996ad176b9.png)

Back of the object

[2020-02-20 14:51] nikhilaravi commented on #76
@filipetrocadoferreira Do you mean for each pixel in the rendered image you want to know the position of the vertices?

[2020-02-20 14:51] HectorAnadon commented on #78
![Screenshot from 2020-02-20 13-24-34](https://user-images.githubusercontent.com/12595599/74945910-cb897700-53f8-11ea-8fa6-2659130bffe6.png)
![Screenshot from 2020-02-20 13-24-51](https://user-images.githubusercontent.com/12595599/74945916-cc220d80-53f8-11ea-8319-5d3bf073391f.png)

Front of the object

[2020-02-20 14:52] nikhilaravi commented on #74
@Jiayi-Wang-MPI the `SoftPhongShader` is now available to import directly from pytorch3d so you don't need to define it yourself.

[2020-02-20 15:12] HectorAnadon commented on #78
Might it be that the X axis is inverted?

[2020-02-20 15:38] Chr1k0 opened #79 "Render objects consisting of multiple parts with different textures"
## ❓ Questions on how to use PyTorch3d

How to render objects consisting of multiple parts with different textures? The example given: https://github.com/facebookresearch/pytorch3d/blob/master/docs/tutorials/render_textured_meshes.ipynb is quite simple. Only one mesh with one texture map. Can someone please give an concrete example with an object from ShapeNetCore.V2?

http://shapenet.cs.stanford.

[2020-02-20 17:30] nikhilaravi commented on #79
@Chr1k0, currently we do not support loading multiple texture maps per mesh so Shapenet meshes cannot be rendered with texture. We are adding support for initializing textures as a texture atlas instead of a texture image and uv map - after this is added we will provide a demo with shapenet.

[2020-02-20 19:18] Chr1k0 commented on #79
Thanks for the info, just wanted to make sure I didn’t missed it.

[2020-02-20 21:35] nikhilaravi commented on #79
I will leave this issue open until we add this feature!

[2020-02-21 02:52] #10 closed

[2020-02-21 09:04] filipetrocadoferreira commented on #76
Basically, is applying the same transformations as the render to the 3D and get their 2D location in the image.

[2020-02-21 09:33] magicknight opened #80 "Any plan for raytracing? TPU?"
## 🚀 Feature
Hi, do you have any plan for implementing ray tracing on this package?

## Motivation
I noticed that the rendering in this package is using rastering & Phong shading. The image is good but still not so realisitic.  Just wondering if or not the ray tracing is on the road map.
Also can this package run on TPU? Thanks.

## Pitch

NOTE: we only consider adding new features if they are use

[2020-02-21 11:54] filipetrocadoferreira commented on #76
using cameras.transform_points() i get the points in 'screen' coordinate system, but to go from this to 2D pixel coordinates I'm having a bit of a trouble

[2020-02-21 14:01] davegreenwood commented on #78
Yes, I agree X is flipped. In the NDC space, if it is right-handed with z-min at z-near, then x should be positive to the left. However, in the projection matrices it is positive to the right.

For the tutorials teapot example, if we get the camera position using camera_position_from_spherical_angles, it is [ 0.3991,  1.9284, -2.2632].
So the camera is 'behind' the teapot in world space.

here is

[2020-02-21 17:54] nikhilaravi commented on #80
@magicknight do you need to use the ray tracing as part of a deep learning pipeline or only for forward rendering?

[2020-02-22 04:55] #60 closed

[2020-02-22 05:21] andrewjong commented on #73
@gkioxari , I am considering trying 3D deep learning for my project, and trying to understand how PyTorch 3D relates/compares to NVIDIA's Kaolin. As this is relatively new, I have not found any comparisons online yet. Could you help explain, please?

[2020-02-23 05:23] weichengkuo opened #82 "CUDA Multinomial Bug in Mesh Sampling"
I'm using Mesh R-CNN evaluation pipeline that depends on Pytorch3D. Everything works fine for the most part and I was able to reproduce the numbers in the paper. However, every once in a while I ran into the following error for meshes that look normal to me. I tried printing the mesh tensor and they seem reasonable. I noticed that in line 62 of pytorch3d/ops/sample_points_from_meshes.py there's a

[2020-02-23 05:34] gkioxari commented on #82
Hey @weichengkuo! The multinomial bug has been fixed (the source was an old pytorch bug which is fixed now and we also have a test for it in the tests to verify). The TODO should be removed. I think the source of your error is different.

[2020-02-23 10:24] angshine opened #84 "How can I render a 3d model "shadelessly" (with no lighting) ?"
## ❓ How can I render a 3d model "shadelessly" (with no lighting) ?

Are there ways to project a 3d model to a 2d image which its pixel color just interpolated from the original color assigned per-vertex / per-face in the 3d model?  Or, in other words, just render the 3d model without lighting?

[2020-02-23 20:32] magicknight commented on #80
Hi nikhilaravi,
Thank you for reply.
I am planning to use it as part of pipline. Some interesting research can be done here.
Do you think it is a lot of work if I write it myself on pytorch? Thanks.

[2020-02-23 21:31] nikhilaravi commented on #84
@angshine Sure this is possible. You can create a custom shader to do this (also see [`shader.py`](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/renderer/mesh/shader.py) for examples).

A shader can be composed in different ways and you can choose the steps involved e.g. texturing, lighting, blending. For your use case - it seems you only need to interpolate the vertex colors

[2020-02-24 00:39] weichengkuo commented on #82
Hey @gkioxari ! Thanks for your quick response, clarification about the test, and pointer to the relevant issue #63 ! It's great to know that the bug has been taken care of. Following the instructions in #63, I added the print statements in meshrcnn/utils/metric.py before the sample_points_from_meshes function call. Attached is the change I made to the code. Here's the link to the full log: https:

[2020-02-24 00:41] weichengkuo commented on #82
Oops the link doesn't seem to work. Here's the full log:

Command Line Args: Namespace(config_file='configs/pix3d/meshrcnn_R50_FPN.yaml', dist_url='tcp://127.0.0.1:51737', eval_cad_mask=True, eval_json_path='/tmp/meshrcnn_0221_headless_c315_cpu_test.json', eval_only=True, machine_rank=0, num_eval_images=315, num_gpus=1, num_machines=1, opts=['DATASETS.TEST', "('pix3d_s1_train',)", 'MODEL.WEIGHTS',

[2020-02-24 01:33] nikhilaravi commented on #82
@weichengkuo  are you building pytorch3d from local clone? If so can you try to add print statements inside the `sample_points_from_meshes` function before the line `sample_face_idxs += mesh_to_face[meshes.valid].view(num_valid_meshes, 1)`?

Alternatively we can try to repro the issue - can you save `meshes.verts_padded()` and `meshes.faces_padded()` to a file before the call to `sample_points_fro

[2020-02-24 06:13] nikhilaravi commented on #47
@shersoni610 were you able to resolve this installation issue? If so, please close this issue. Thank you!

[2020-02-24 06:15] nikhilaravi commented on #62
@zzhat0706, @shersoni610 were you able to resolve this installation issue? If so, please share what you did here for others to replicate!

[2020-02-24 06:18] nikhilaravi commented on #63
@vilhub were you able to resolve this issue? Alternatively as suggested in #82 can you save `meshes.verts_padded()` and `meshes.faces_padded()` to a file before the call to `sample_points_from_meshes` and share them here? (you can save these values at each iteration but we only need the values from the iteration when the error occurs)

We can then try to load and run the inputs that to reproduce t

[2020-02-24 06:24] nikhilaravi commented on #76
By `2D pixel coordinates` do you mean NDC coordinates in the range [-1, 1] or coordinates in the range x = [0, W],  y = [0, H] where the image is of size (H, W)?

[2020-02-24 06:26] nikhilaravi commented on #72
@shersoni610 were you able to resolve this problem? If so, please close this issue.

[2020-02-24 06:27] nikhilaravi commented on #74
@Jiayi-Wang-MPI were you able to get this working with the new `SoftPhongShader` or the code above? Can I close this issue?

[2020-02-24 06:32] nikhilaravi commented on #75
@michele-arrival, yes we could definitely make the error message clearer. Thanks for pointing out the error for when image size is > 1024. We assumed that most use cases involving batched rendering of meshes would require image sizes < 1024, but we can fix this so that rendering is enabled with any image size. Feel free to submit a PR if you would like to try and fix this yourself!

[2020-02-24 06:36] nikhilaravi commented on #38
@Hemantr05 were you able to resolve this problem? If so, please comment with what you needed to do to resolve it so other people can also benefit! Then, please close this issue.

[2020-02-24 06:37] nikhilaravi commented on #50
@tau-yihouxiang were you able to resolve this issue?

[2020-02-24 08:24] filipetrocadoferreira commented on #76
This one.
I'm having trouble to go from NDC to image coordinates.

[2020-02-24 13:27] Jiayi-Wang-MPI commented on #74
@nikhilaravi the new SoftPhongShader works for me. Thanks!

[2020-02-24 13:27] #74 closed

[2020-02-24 14:06] davegreenwood commented on #78
I think I should add some more information:
The first image I posted is from the viewport of Maya. This software uses the same coordinates as OpenGL: y-up, right handed. In the image, the red, green, blue gnomon indicates x, y, z world coordinates.
To position the camera, I called the function: camera_position_from_spherical_angles to give the camera position alongside the teapot object in world s

[2020-02-24 16:28] weichengkuo commented on #82
Hi @nikhilaravi, I'm using the pre-built pytorch3d through conda install. I tried saving the vertices and faces using verts_padded and it works for every iteration except for the one that crashes. The error occurs in the self.isempty() function.

Here's the stack trace:
`/opt/conda/conda-bld/pytorch_1579027003190/work/aten/src/ATen/native/cuda/MultinomialKernel.cu:87: int at::native::<unnamed>::bi

[2020-02-24 19:16] nikhilaravi commented on #80
@magicknight differentiable ray tracing is not on our roadmap. There are existing open source implementations which you could try e.g. https://github.com/BachiLi/redner, but we haven't tried them so cannot guarantee they will be suitable for your use case. TPU support is also not on our roadmap.

[2020-02-24 19:16] #80 closed

[2020-02-24 20:01] nikhilaravi commented on #82
@weichengkuo ok thanks for the update.  Instead of `meshes.verts_padded` can you try to save out `meshes._verts_list` and `meshes._faces_list`?

[2020-02-24 21:16] wangsen1312 commented on #35
@nikhilaravi  I have tried Depth render with images, but found they are not in the same coordinate?  it seems the y-axis flips? is this an issue or I use change it manually?
Best

[2020-02-24 22:53] weichengkuo commented on #82
@nikhilaravi, I tried doing that but it turns out I could do the assignment but couldn't print or access the values of the meshes structure members. Here's what I did to show this in the pdb debugger.

(Pdb) meshes.valid
*** RuntimeError: CUDA error: device-side assert triggered
(Pdb) meshes.valid
*** RuntimeError: CUDA error: device-side assert triggered
(Pdb) meshes._verts_list
*** RuntimeError:

[2020-02-24 23:46] vilhub commented on #63
Hi, sorry for the late answer, I haven't resolved the issue since I haven't had time yet. Tomorrow I will investigate and meanwhile I uploaded the notebook here https://github.com/vilhub/pytorch3d/blob/master/docs/tutorials/build_mesh_from_angles.ipynb .
Thanks a lot for your help!

[2020-02-25 00:58] weichengkuo commented on #82
I managed to find a place where the code didn't crash while saving it. It's inside the compare_meshes function. The pred_meshes are attached here:
[pred_meshes.zip](https://github.com/facebookresearch/pytorch3d/files/4247562/pred_meshes.zip)

The snippet for saving them is here:

`    mverts = pred_meshes.verts_padded()
    mfaces = pred_meshes.faces_padded()
    torch.save(mverts, '/tmp/pred_vert

[2020-02-25 09:23] raincrash opened #85 "ImportError while importing 'SilhouetteShader' from 'pytorch3d.renderer' in the Camera position optimisation example"
While importing SilhouetteShader (or PhongShader), the 'Camera Position Optimization' example fails with,

[code]
This is probably because the API is now modified to `SoftSilhouetteShader` (and `Soft|Hard PhongShader`). If this is the issue, I can send a PR fixing the example.

[2020-02-25 09:57] raincrash commented on #85
Closing this because the commit https://github.com/facebookresearch/pytorch3d/commit/f0dc65110aa9687e83712950f6d47b280761f078 already exists.

[2020-02-25 09:57] #85 closed

[2020-02-25 14:23] grgkopanas opened #86 "Point Rasterizer"
Hi,

I am looking for a point rasterizer instead of a mesh and I didn't help to notice that the implementation for the Cuda/C++ side is uploaded under csrc/rasterize_points folder, and as far as I managed to find there is no related python implementation with that. Is the implementation somewhere and/or do you plan to push it soon in the repository?

Thanks,
George

[2020-02-25 15:16] angshine commented on #84
@nikhilaravi Thanks for the detailed explanation!
If the Mesh is loaded using `pytorch3d.io.load_objs_as_meshes()`,  so `mesh.textures` is initialized without `verts_rgb` but a texture map. Then, I implement the shader as follow: (which implace`interpolate_vertex_colors` with `interpolate_texture_map`)
[code]

So far this shader works well, but I wonder if these two implementation leadings to the

[2020-02-25 16:02] nikhilaravi commented on #86
@grgkopanas we will be releasing the python wrapper for this implementation along with more complete point cloud rendering support around the end of March.

[2020-02-25 16:02] #86 closed

[2020-02-25 17:12] nikhilaravi commented on #84
@angshine that looks correct for use with texture maps instead of vertex rgb colors.
What do you mean by the 'same rendering result'?

[2020-02-25 17:14] weichengkuo commented on #82
Hey @nikhilaravi and @gkioxari , I prepared a minimal script to reproduce the bug that loads the zip file as below:

`import torch
from pytorch3d.structures import Meshes
from pytorch3d.ops import sample_points_from_meshes

verts = torch.load('pred_verts.pt')
faces = torch.load('pred_faces.pt')
mesh = Meshes(verts=verts, faces=faces)
verts, normals = sample_points_from_meshes(mesh, 10000, return_n

[2020-02-25 17:14] weichengkuo commented on #82
Hey @nikhilaravi and @gkioxari , I prepared a minimal script to reproduce the bug that loads the zip file as below:

`import torch
from pytorch3d.structures import Meshes
from pytorch3d.ops import sample_points_from_meshes

verts = torch.load('pred_verts.pt')
faces = torch.load('pred_faces.pt')
mesh = Meshes(verts=verts, faces=faces)
verts, normals = sample_points_from_meshes(mesh, 10000, return_n

[2020-02-25 17:15] nikhilaravi commented on #82
@weichengkuo great, thank you! We can debug this and get back to you. Feel free to keep this issue open though until we resolve the cause of the error.

[2020-02-25 17:16] weichengkuo commented on #82
Thanks so much!! We have an ECCV 2020 deadline coming up in a week so we'd really appreciate your help!

[2020-02-25 17:37] nikhilaravi commented on #82
@weichengkuo the issue is not with `sample_points_from_meshes` but with the mesh. There are several vertices which are nans e.g. see this output:

[code]

We need to determine what upstream of the call to `sample_points_from_meshes` is causing the vertices to be set to nan.

Can you provide some more details about your pipeline?

[2020-02-25 18:56] weichengkuo commented on #82
Thanks for the great find @nikhilaravi !! I'll look more carefully at my pipeline again to identify the cause. Will update you as soon as possible.

[2020-02-25 19:02] gkioxari commented on #82
@weichengkuo Are you getting these nans after retraining a meshrcnn model with the meshrcnn codebase? I have never ran into this error so I wonder how the nans ended up there.

[2020-02-25 19:23] weichengkuo commented on #82
Hi @gkioxari and @nikhilaravi, I've identified the cause now and it's the prediction of my model that went wrong in one particular mesh. I don't think there's anything wrong with mesh rcnn optimization here. For this code base though, I think it might help to check for nan values when initializing the mesh structure.

But huge thanks for your prompt assistance! Very, very much appreciated!

[2020-02-25 19:48] #82 closed

[2020-02-25 22:37] shersoni610 commented on #72
how can I close it?

On Sun, Feb 23, 2020 at 10:26 PM Nikhila Ravi <notifications@github.com>
wrote:

[2020-02-25 23:08] #72 closed

[2020-02-26 00:30] nikhilaravi commented on #76
Ok so the output of `cameras.transform_points()` will be in NDC coordinates in the range [-1, 1].  If i understand correctly, from this you want to go to pixel coordinates in the range y: [0, H] and x: [0, W].

To do this you just need to do the inverse of this `PixToNdc` function: https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/csrc/rasterize_meshes/rasterize_meshes_cpu.cpp#L1

[2020-02-26 00:47] ethansu1992 commented on #71
I have tried to search for  _C.cpython...pyd and i have found the file in <env>\Lib\site-packages\pytorch3d-0.1-py3.6-win-amd64.egg\pytorch3d\_C.cp36-win_amd64.pyd Is this the file you are mentioning?

Do you think re-creating a new environment and rebuilding would be a better solution?

[2020-02-26 00:54] gkioxari commented on #63
Can you check whether your predictions are nans? This might be a cause of error. Note that if you set the weights of some losses to high this can happen.

[2020-02-26 06:04] nobug-code opened #87 "Can I use pytorch 3d to calculate the gt, predict of the vertices of a 2d image with Differentiable rendering loss?"
## ❓ Questions on how to use PyTorch3d
Can I use pytorch 3d to calculate the gt, predict of the vertices of a 2d image with Differentiable rendering loss?

[2020-02-26 06:28] liyouhua123 opened #88 "Could I use the cuda 9.0 to use Pytorch3d normally?"

[2020-02-26 06:39] nikhilaravi commented on #78
@HectorAnadon thanks for raising this important issue and @davegreenwood thanks for helping answer it.

The coordinate system we use during rasterization is positive y pointing down, positive x pointing to the right, and positive z pointing in to the page. This is a right hand coordinate system but results in the object in the image being "upside down".

<img width="360" alt="Screen Shot 2020-02-2

[2020-02-26 06:45] nikhilaravi commented on #87
@nobug-code I'm not sure I understand what you are asking. Do you mean predict 3D vertices of a mesh from a 2D image?

[2020-02-26 08:14] nobug-code commented on #87
Can I render if I have a 2D image and given coordinates?

[2020-02-26 09:46] filipetrocadoferreira commented on #76
AH! I think the problem was related with the issue #78
Doing

`ndc_points [:,1] *= -1`

solved

[2020-02-26 11:28] HectorAnadon commented on #78
Thank you @nikhilaravi. Looking forward to the fix in the rasterization code. Do you have any estimate when the fix will be applied? Thanks!

[2020-02-26 11:32] bottler commented on #88
I don't know, but you would have to build a lot of things manually. There are no prebuilt conda packages for pytorch or torchvision or pytorch3d for that version of CUDA. Building all these from scratch may not be so simple.

If your real question is, "I have Cuda 9.0 installed, is it easy for me to use pytorch3d?" then there are alternatives.
* If you are using conda, you can create a new environ

[2020-02-26 11:32] #88 closed

[2020-02-26 11:52] bottler commented on #71
Yes, that sounds like the right file. I hope it is about a megabyte in size or larger. I haven't experimented enough with the windows build to know how it might go wrong. Yes, it might be useful to start again in a new environment.

As a next step, I would be tempted to open up that file `pytorch3d_C.cp36-win_amd64.pyd`in dependency walker (depends.exe) or similar to get an idea of what its interf

[2020-02-26 12:16] HectorAnadon commented on #78
I am assuming that this line should be updated too https://github.com/facebookresearch/pytorch3d/blob/f358b9b14dbc1414c588f308b35f55705d777873/pytorch3d/renderer/blending.py#L41

[2020-02-26 14:39] kondela commented on #79
@nikhilaravi Sounds great, is there any time estimate please?

[2020-02-26 16:46] nikhilaravi commented on #78
@HectorAnadon yes we will update the rasterization code and all the blending functions. We will try to get this fix into master by the end of the week. I will update this issue when the fix has been merged!

[2020-02-26 16:47] nikhilaravi commented on #76
@filipetrocadoferreira oh ok makes sense why the rendering problem was affecting your calculations! I will close this issue - please monitor #78 for updates on the rendering fix.

[2020-02-26 16:47] #76 closed

[2020-02-26 16:50] nikhilaravi commented on #87
Do you have the 3D vertex coordinates of the object? What are you trying to render? What do you want as the output? Please provide some more details about what you are trying to achieve.

[2020-02-26 19:39] nikhilaravi commented on #61
@Jiayi-Wang-MPI  you could also try this: `alpha = 1.0 - torch.prod((1.0 - prob_map), dim=-1)`.  We will be updating the blending functions soon.

[2020-02-26 22:58] vilhub commented on #63
Good point, the `deform_verts` tensor containing the deformation of the vertices indeed contains NaNs before crashing. So the issue does not come from the point sampling or the mesh functions. The maximum of the deformation vector norms grows slowly, stays below 0.3 and suddenly 2 deformation vectors turn to NaNs.
The points don't go to infinity but I'm guessing they get pushed to a weird configur

[2020-02-27 08:39] Jiayi-Wang-MPI commented on #61
@nikhilaravi thanks for the help! The suggested solutions seem to work for now. I am looking forward to the more stable C++/CUDA implementation!

[2020-02-27 10:02] dhrosquete opened #89 "Exporting camera position model"
Hi! First of all, is an amazing job you have done in here. Congrats and thank you!!! :+1:

My question is that, you have an example of camera position optimization, running a model back and forth to get to the camera position.

Is this model exportable? I mean, I get that the model as you developed it doesn't receive an image as an input, but the image as the model has it stored. But is it possibl

[2020-02-27 16:39] michele-arrival commented on #75
#90

[2020-02-27 16:47] grgkopanas opened #91 "Multiple Cameras in renderers is not providing multiple images."
## 🐛 Bugs / Unexpected behaviors
When running with multiple cameras you only get  a mesh projection to a single screen space. Based on the plural of parameters "cameras" and Objects like OpenGLPerpectiveCameras I would expect this to be able to project in a single go multiple cameras.

https://github.com/facebookresearch/pytorch3d/blob/f358b9b14dbc1414c588f308b35f55705d777873/pytorch3d/renderer/me

[2020-02-27 17:18] nikhilaravi commented on #91
@grgkopanas the plural `Cameras` refers to a **batch** of cameras which corresponds to a batch of input `Meshes` i.e. for each mesh in the batch, there is one camera and we render one output image.  We don't support the case of multiple cameras per scene.

[2020-02-27 17:18] #91 closed

[2020-02-27 17:33] nikhilaravi commented on #89
@dhrosquete the term 'model' in the camera position optimization demo is perhaps misleading - the parameter which is learnt during the optimization is the 'xyz' position of the camera in the reference image and is specific to the teapot example in the demo. There are no learned 'weights' which are exportable as is possible after training neural network models.

[2020-02-27 17:40] nikhilaravi commented on #85
@raincrash thanks for pointing this out! I will update the website!

[2020-02-27 17:43] gkioxari commented on #89
Hi @dhrosquete! Thank you for your kind words! If I understand correctly, you want a method that given an input image returns the camera position `(R, t)`? If yes, then the answer is Structure from Motion (SfM). SfM methods usually take in as input video frames and estimate the relative positions of the cameras. We don't provide any SfM pipelines in PyTorch3D but I believe that with some searching

[2020-02-28 08:24] dhrosquete commented on #89
Hi @nikhilaravi and @gkioxari Thank you very much for your response! I'm aware that there are no weights on this model and that is focused on the xyz position of the camera. But could this be possible somehow?

The problem im trying to solve is the one mentioned by @gkioxari, training a network to receive an image and return the R and t of the object or the camera looking at the object. I think th

[2020-02-28 09:35] raincrash commented on #38
Weirdly, I had the same issue as well on OSX 10.15.3. `conda install` on `pytorch3d` channel returns a `PackagesNotFoundError`.  I'm running miniconda3 with conda version 4.8.2. Is there some dependecy of the build on cudatoolkit, because the machine I tried is CPU only. I could install it from source though.

[2020-02-28 10:16] raincrash commented on #38
I am not entirely sure how conda packaging works, but do we need to have a CPU-only version [here](https://anaconda.org/pytorch3d/pytorch3d/files) or set `USE_CUDA` flags while building?

[2020-02-28 10:57] bottler commented on #38
@raincrash MacOS is a separate issue. There are no conda packages for pytorch3d on MacOS at the moment, all the conda packages are for CUDA use with linux.

It should be straightforward to install CPU-only from source on a mac with pip if you have pytorch, fvcore, and torchvision installed, and if you have some xcode developer tools, e.g. with `MACOSX_DEPLOYMENT_TARGET=10.14 CC=clang CXX=clang++ p

[2020-02-29 00:12] a-jahani commented on #50
@davnov134 Thanks for the quick reply although I don't think that's the case.

Forget about the instability. Here is exactly how to reproduce the warning for R and also wrong rendering:

go to this file:  [camera_position_optimization_with_differentiable_rendering](https://github.com/facebookresearch/pytorch3d/blob/master/docs/tutorials/camera_position_optimization_with_differentiable_rendering.ip

[2020-02-29 01:58] a-jahani commented on #50
based on  [this](https://www.scratchapixel.com/lessons/mathematics-physics-for-computer-graphics/lookat-function)

The method is very simple and works generally well. Though it has an Achilles heels (a weakness). When the camera is vertical looking straight down or straight up, the forward axis gets very close to the arbitrary axis used to compute the right axis. The extreme case is of course when

[2020-03-01 01:30] nikhilaravi commented on #84
@angshine do you need more help with this issue or can it be closed?

[2020-03-01 01:31] nikhilaravi commented on #87
@nobug-code please provide more details with examples if you still need help with this issue.

[2020-03-01 01:33] nikhilaravi commented on #19
@aluo-x the barycentric clipping fix has now been landed in master.

Yes please raise a separate issue about multi GPU training.

[2020-03-01 09:09] nobug-code commented on #87
I'm sorry for the late contact. What I'm trying to implement is the neural-render-pytorch version of the feature, so I'm going to use it.
I was trying to render a 3d z axis of 1 from a point.
thanks for your answer!

[2020-03-01 13:31] NengQian opened #92 "Document, API and tutorial is different from the conda version."
I can not run the tutorial "render textured mesh" under the conda version of pytorch 3d.
I cannot install it from source code ( no permission)
Are there any suggestions?

[2020-03-01 23:11] nikhilaravi commented on #92
Hi @NengQian. Apologies about this. We are updating the conda package and will have a new version very soon. The tutorials have been updated to match the current version of the code on master. You should definitely be able to install from source with:

[code]

Add `--user` to the end of the command if you don't have permission.

[2020-03-01 23:12] nikhilaravi commented on #87
@nobug-code can you provide pseudo code or more detailed example of exactly what you are trying to do?

[2020-03-02 14:25] HectorAnadon opened #93 "Batching viewpoints"
Hello! As it is possible to batch render different meshes, is it possible to batch render the same mesh from different viewpoints e.g (different rotation and translation)?

[2020-03-02 14:36] nikhilaravi commented on #93
Look at the [`render_textured_meshes`](https://github.com/facebookresearch/pytorch3d/blob/master/docs/tutorials/render_textured_meshes.ipynb) demo notebook - we have an example of rendering the same mesh from multiple viewpoints.

[2020-03-02 15:00] HectorAnadon commented on #93
I see that the R and T have a batch dimension. Thanks for the quick answer.

[2020-03-02 15:00] #93 closed

[2020-03-02 17:57] NengQian commented on #92
Great, thank you

[2020-03-02 17:57] #92 closed

[2020-03-02 20:40] Jiayi-Wang-MPI opened #94 "Batch lighting position is not working for point light"
The diffuse and specular function of point light gives a runtime error about mismatched tensor size when the input locations is batched. This is due to tensor broadcasting. Is batch light location supported?

[2020-03-02 22:52] ivan-pavlov opened #95 "object depth and blurred rasterisation"
Thank you for publishing such a powerful tool for 3D computer vision!

I am interested in a differentiable rendering of the object depth.

As far as I understood, I can infer pixel depth from `fragments.zbuf`

But I am confused with the difference in `fragments.zbuf` between "hard" and "soft" renderings.

I am using objects from Linemod dataset.

Phone object:
![rgb](https://user-images.githubuser

[2020-03-03 05:02] nobug-code commented on #87
What I want to do is to draw 3d renders using 2d points information (fix z axis to 1)

[2020-03-03 07:38] tjdhg456 opened #96 "R is not an valid rotation matrix problem"
If you do not know the root cause of the problem / bug, and wish someone to help you, please
post according to this template:

## 🐛 Bugs / Unexpected behaviors

Hello, At first thank you for sharing the wonderful library; pytorch3d. It was really helpful.

When trying to optimize the camera position by following the tutorial 4, I encountered 'R is not a valid rotation matrix' problem.

I only chan

[2020-03-03 07:43] tjdhg456 commented on #96
I used the attached obj file.
[05_0191.zip](https://github.com/facebookresearch/pytorch3d/files/4279911/05_0191.zip)

[2020-03-03 10:42] nikhilaravi commented on #94
@Jiayi-Wang-MPI we support one light per mesh in the batch. Can you send a code snippet of what you are trying to do so I can reproduce the error?

[2020-03-03 11:08] nikhilaravi commented on #95
Hi @ivan-pavlov! Yes `fragments.zbuf` is the correct way of retrieving the rendered depth.

However `zbuf = fragments.zbuf[:, :, :, 0]` is not guaranteed to give the same result for soft and hard blending. With hard blending we only save the closest face for each pixel and only record the face if it completely overlaps with the center of the pixel (lets call this a primary face).

With soft blendi

[2020-03-03 11:14] nikhilaravi commented on #96
@tjdhg456 thanks for raising this issue. This is related to another issue #50 which is about the same tutorial and error. We'll look into this further and get back to you.

[2020-03-03 11:17] tjdhg456 commented on #96
Thank you very much. I'll close the issue. Thank you.

[2020-03-03 11:17] #96 closed

[2020-03-03 11:18] nikhilaravi commented on #61
@Jiayi-Wang-MPI the fix I mentioned above has been merged into master and the backward pass of soft blending  should now be stable. I am closing this issue. If you continue to experience any problems feel free to reopen it.

[2020-03-03 11:18] #61 closed

[2020-03-03 12:54] bottler commented on #87
If what you mean here is take the points from an image and assign them all a z value of 1, and then render the resulting mesh (which is flat) in PyTorch3d, then that is demonstrated in the attached, which I run from the tutorials folder.

[render_logo.txt](https://github.com/facebookresearch/pytorch3d/files/4281327/render_logo.txt)

[2020-03-03 17:59] t-walker-21 commented on #95
How do you get proper depth images? My depth images always result in 1 depth value for all points of the object (i.e. if I render a point cloud with depth, rgb, and intrinsics the object is only planar).

![depth-3](https://user-images.githubusercontent.com/12646585/75804623-48e4ae00-5d4e-11ea-94f6-45ffec77d3e8.png)

The image above has all the same pixel values instead of varying pixel values to

[2020-03-03 22:19] wangsen1312 commented on #95
@t-walker-21  I have used the orignial value * 1000  to make it's uint from m to mm. it seems workable. When you try to save it, you should change it int16.

[2020-03-04 02:43] shubhtuls opened #97 "Error in Batched Rendering with PhongShader or GouraudShader"
I run into errors when trying to use batched rendering in case of meshes with a per-vertex texture, using both SoftPhongShader or SoftGouraudShader.

To reproduce the error, one can use the [mesh rendering notebook](https://github.com/facebookresearch/pytorch3d/blob/master/docs/tutorials/render_textured_meshes.ipynb) and modify the last few lines in the 'Create a Renderer' cell to the following:

[2020-03-04 04:08] shubhtuls commented on #97
I think the latter issue occurs because 'batch_idx' is being overwritten in the inner loop in [these lines](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/renderer/utils.py#L245-L246).

[2020-03-04 10:53] nikhilaravi commented on #97
@shubhtuls thanks for the detailed explanation of the issue! I will try to reproduce the error as you have described and get back to you.

[2020-03-04 15:55] nikhilaravi commented on #97
@shubhtuls I managed to reproduce the errors - thanks a lot for sharing such detailed information, it made it much easier to debug! There are two one line fixes so you could add them in to your local clone if you're blocked and I can merge in the fix ASAP.

For the `SoftPhongShader` case, the error is because of extending the textures in the call to `mesh.extend(batch_size)`. To fix this just chan

[2020-03-04 17:20] shubhtuls commented on #97
@nikhilaravi  - thanks a lot for looking into this and suggesting the changes! I did unblock on my end by updating the local clone, so there is no urgency - please feel free to close the issue/merge to main at your convenience. Thanks!

[2020-03-04 20:11] martinResearch opened #99 "Citing anterior differentiable rendering working in the documentation"
## 🚀 Feature
The documentation page on the differentiable rendering [here](https://pytorch3d.org/docs/renderer) provides only 2 citations (Neural 3D Mesh Renderer ans Soft-Rasterizer) while there is anterior work to these differentiable renderers, some of which is cited by neither of these two papers. In the chronological order:

- *Model-based 3D Hand Pose Estimation from Monocular Video.* M. de

[2020-03-04 21:05] gkioxari commented on #99
Hi @martinResearch! Definitely. Thank you for the suggestions! We will include all these citations in the documentation. The reason we primarily focus on NMR and SoftRas in the documentation of our implementation is because they were the source of inspiration for our differentiable renderer. However, I completely agree that it is always good to give proper credit to more efforts out there.

[2020-03-04 23:39] wangsen1312 opened #100 "Color and Depth are not consistent?"
It seems the color and depth are not consistent?
Y-axis Flipped?

![color_cow](https://user-images.githubusercontent.com/11545246/75933149-7442c800-5e36-11ea-9179-35b14633de0e.png)
![depth_cow](https://user-images.githubusercontent.com/11545246/75933152-76a52200-5e36-11ea-9092-445bbe751142.png)

my simple mehs render code is attached:

[code]

[2020-03-05 06:32] PartlyFluked opened #101 "transform_points returns NDC space, not Screen space"
The comments of transform_points and the docs say this converts world space to Screen space but it seems to return NDC space coords instead.
https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/renderer/cameras.py#L239

[2020-03-05 07:18] shihfangchen opened #102 "Import form pip install vs local install"
Hi, I wanna ask how to import pytorch3d after the local install.

When I install by
[code]
and using this quoto

it returns

then I change it to
![image](https://user-images.githubusercontent.com/14999043/75956924-e3cabd00-5ef3-11ea-868e-054516430b7d.png)

it returns
![image](https://user-images.githubusercontent.com/14999043/75957124-4de36200-5ef4-11ea-9702-5655bfe69cfd.png)

how to redirect all

[2020-03-05 10:37] nikhilaravi commented on #100
@wangsen1312 thanks for pointing this out. See #78 where we have addressed this issue. We are working on a fix which should be available soon.

[2020-03-05 11:21] bottler commented on #102
Could it be that the command `!cd pytorch3d && pip install -e .` failed? What was its output? I think you haven't successfully built/installed pytorch3d, and it can just see the files in the working directory. This means that (whether or not there are path issues) you won't have access to the compiled parts of pytorch3d.

[2020-03-05 11:41] nikhilaravi commented on #101
@PartlyFluked thanks for raising this issue. Yes you are correct this is returning NDC coordinates.  We will update the naming of the variables and the comments to fix this convention.

[2020-03-05 12:18] tjdhg456 opened #103 "Rendering with multi-gpu"
## ❓ Questions on how to use PyTorch3d

-  Are there any methods for rendering the 3D cad into rectangular shaped 2D images. For example, 'image_size=256' in below code (tutorial 4) could be change into image_size=(256,512).

- Also rendering the object using multi-GPU will be supported?

Thank you.

[code]

NOTE:

1. If you encountered any errors or unexpected issues while using PyTorch3d and nee

[2020-03-05 14:02] NengQian opened #104 "How does Pytorch3D use normal from OBJ file to render?"
From the tutorial, I think pytorch3d can calculate the normal information for each vertex by itself.
But how about if I want to use the normal information from Obj file to render? Is it possible in Pytorch 3D currently?

Seems like the meshes class does not accept normal as input?

[2020-03-05 14:12] nikhilaravi commented on #104
@NengQian the `load_obj` function does support reading the normals from an `.obj` file but we do not support using the normals from an obj file within `Meshes`. For the lighting/shading modules in the rendering pipeline, we use methods on `Meshes` which calculate the vertex/face normals based on the vertices.

What is the use case for which you need to render an object with normals from a file?

F

[2020-03-05 14:21] NengQian commented on #104
Yes, you are right. Since the mesh will deform during the optimization, the normal information will anyway also change during optimization.
The issue is, our obj file contains some duplicated vertices, which contains the same 3D position but with different texture UV coordinator due to we are using a texture atlas.
And these duplicated vertices do not have complete neighbor faces,  therefore norma

[2020-03-05 14:21] nikhilaravi commented on #103
@tjdhg456 regarding the first question, please see #17 which is requesting the same feature for non square image rasterization. This is a high priority feature on our roadmap.

For your second question, what is your use case for multi-gpu rendering?

[2020-03-05 14:26] tjdhg456 commented on #103
Thank you for the response.

When I rendering the cad obj to big image (such as 1900 x 1900), out-of-memory shows.
I thought it is because of memory occupied by differential rendering. Is it right?

[2020-03-05 15:11] nikhilaravi commented on #103
@tjdhg456 yes this is possible. Are you just trying to do forward rendering to produce an image or is this part of a deep learning pipeline where you want to calculate gradients?

In the [renderer documentation](https://github.com/facebookresearch/pytorch3d/blob/master/docs/notes/renderer.md) we explain how the memory usage is calculated. One of the key components is the number of `faces_per_pixel

[2020-03-05 23:06] wangsen1312 commented on #104
@NengQian You may need use Meshlab to remove duplicate faces and vertices first. Meshlab can offer command line to do it.

[2020-03-05 23:07] wangsen1312 commented on #100
@nikhilaravi Got it.

[2020-03-05 23:07] #100 closed

[2020-03-05 23:51] NengQian commented on #104
@wangsen1312 Thanks for you help. The duplicated vertice are manually duplicated by me to make it renderable in OpenGL.
@nikhilaravi A quick and short question, does Pytorch3d allow one vertex has more than one UV coordinate?

[2020-03-06 02:59] tjdhg456 commented on #103
@nikhilaravi I need the differential rendering module in the part of deep learning network. So I think, faces_per_pixel should not be set to 1.

For example, if faces_per_pixel is set to 50, are there any differences in the performance of the network?

Thank you.

[2020-03-06 11:41] nikhilaravi commented on #104
@NengQian yes this is possible. When specifying the [textures](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/structures/textures.py#L93-L95) you need to have two tensors:
- `verts_uvs` of shape (N, V, 2) where V does not have to be the same as the number of vertices in the vertices tensor.
- `faces_uvs` of shape (N, F, 3) where F has to be the same as the number of faces in t

[2020-03-06 11:43] nikhilaravi commented on #103
@tjdhg456 this is a parameter that you will need to tune and will probably vary depending on your task. 50 sounds a reasonable amount to start with.

[2020-03-06 11:45] nikhilaravi commented on #87
@nobug-code if this answers your question please close this issue.

[2020-03-06 11:46] nikhilaravi commented on #84
@angshine I am closing this issue. If you have more questions feel free to reopen it.

[2020-03-06 11:46] #84 closed

[2020-03-06 14:59] nikhilaravi commented on #78
We have landed a fix for this and updated the documentation for the renderer. The convention for world and camera coordinates is explained by this diagram:

![world_camera_image](https://user-images.githubusercontent.com/5912647/76094441-8d748180-5fba-11ea-98d0-e0131e2e1d40.png)

[2020-03-06 14:59] #78 closed

[2020-03-06 15:15] HectorAnadon commented on #78
@nikhilaravi I haven't test it in depth, but now it looks like Y axis is flipped.

[2020-03-06 15:18] nikhilaravi commented on #78
@HectorAnadon what do you mean?

[2020-03-06 15:25] HectorAnadon commented on #78
![Screenshot from 2020-03-06 16-24-29](https://user-images.githubusercontent.com/12595599/76096891-0b3e8a00-5fc7-11ea-8d88-ab173f5cdab1.png)

With this camera `R, T = look_at_view_transform(5, 0, 0, device=device)
`

[2020-03-06 15:40] HectorAnadon commented on #78
Okay, forget everything. I needed to rebuilt the repository. Pulling was not enough. Is that the recommended way to be up to day? Or shall I use pip from github directly? Sorry for the missunderstanding @nikhilaravi and great work! Thanks for fixing it so fast

[2020-03-06 18:07] nikhilaravi commented on #78
@HectorAnadon yes you can install directly from github or if you need to edit any of the code you can pull from master, delete the `build` directory and rebuild.

[2020-03-06 19:58] NengQian commented on #104
@nikhilaravi Great, thank you. This already solves the issue.

Yes, this is the reason why I duplicate the vertex. Since in this atlas setting, each vertex on mesh will have more than one uv coordinate.

[2020-03-06 19:58] #104 closed

[2020-03-07 02:23] #87 closed

[2020-03-07 07:11] tjdhg456 commented on #103
Thank you..!

[2020-03-07 07:11] #103 closed

[2020-03-07 13:43] davegreenwood commented on #78
hi @HectorAnadon, could you say exactly what you did to avoid the y-flip you first noticed?
I have git pulled master from here to a clean directory, and done `pip install -e .` and I get y-flipped.
This is on linux and macOS.
I'm just trying to track down where this happens on our install.
thanks!

[2020-03-07 17:54] davegreenwood commented on #78
Actually, I've got it - but in case anyone else is wondering - I had written a custom blend function, and now the rasteriser does not require the flip on return. All, good now :)

[2020-03-08 19:57] nikhilaravi commented on #78
@davegreenwood great!!

[2020-03-08 21:56] gkioxari commented on #99
Added DR citations by https://github.com/facebookresearch/pytorch3d/commit/112d32eaf0f25735ac1c2d76d1871a8dd8f18234. Closing this issue!

[2020-03-08 21:56] #99 closed

[2020-03-08 22:05] jamalknight opened #105 "Please implement pytorch3D in Anaconda"
When trying to set up in Anaconda, this code does not seem to work.

I believe this is a known issue, just putting it out there as another request.

Thanks

[2020-03-09 00:13] bottler commented on #105
Can you explain in more detail? Pytorch3d likes anaconda. The easiest way to use pytorch3d *is* in anaconda on Linux. Can you describe what you have tried and what system you are using.

If you mean the Python 2.7 version of anaconda, then that will never work with Pytorch3d.

If you mean anaconda on Windows, then this works but requires building pytorch3d yourself.
We plan to make prebuilt packag

[2020-03-09 03:06] jamalknight commented on #105
Hi there

Here are some details:

Installing on Anaconda on Linux

**My steps:**

**Create anaconda env:**
-conda create --name Mesh_RCNN_v04 python=3.6

**Install Detectron2 Dependencies**
Conda install -c pytorch torchvision
Conda install -c anaconda cython
Conda install -c anaconda pyyaml
Conda install -c conda-forge opencv
 pip install 'git+https://github.com/cocodataset/cocoapi.git#subdirecto

[2020-03-09 09:03] zzhat0706 commented on #62
@nikhilaravi Sorry for the late reply, I eventually chose to run on nvidia-docker, then everything was just working out perfectly!

[2020-03-09 09:03] #62 closed

[2020-03-09 10:29] runa91 opened #106 "Visible mesh structure"
When rendering a mesh the resulting image shows highlighted edges as in the attached picture. How can this be fixed?
![img_001530](https://user-images.githubusercontent.com/15121854/76204631-0f51ee00-61f9-11ea-92b4-7efcf19d80cb.png)

[2020-03-09 10:44] nikhilaravi commented on #106
@runa91 what shader/blending function are you using? The images output from the shaders are RGBA, and that edge pattern is probably due to how the alpha channel is blended in the softmax blending function - to fix the image above, you can try viewing only the RGB component i.e. `images[..., :3]`.

[2020-03-09 10:54] runa91 commented on #106
It was indeed a visualization issue. Thanks for your response.

[2020-03-09 10:54] #106 closed

[2020-03-09 13:10] Jiayi-Wang-MPI commented on #94
@nikhilaravi Using the teapot example as a starting point and duplicating the the inputs:

[code]

This causes the following error:
[code]
This is due to the direction calculation for point light in lighting.py

[code]

If location is provided as a (N,3) tensor, and since points is a (N,H,W,K,3), broadcasting produces the incorrect results of (N,H,W,N,3) when K is 1.  When K is larger, the subtrac

[2020-03-09 13:35] nikhilaravi commented on #94
@Jiayi-Wang-MPI thanks for the detailed explanation.  I think this could be fixed by expanding the dimensions of location (as done in several other places in `lighting.py`) e.g.

[code]

Please try the above fix on your local clone in place of `direction = self.location - points`.  I will try to replicate the error based on the code you have provided above and fix this issue in master.

[2020-03-09 15:30] Jiayi-Wang-MPI commented on #94
@nikhilaravi I tried the suggested fix and found that a similar bug is present in shading.py.

In line 82 and 127, dimensions of diffuse and ambient does not match and the dimensions of ambient need to be similarly expanded.

[code]

[2020-03-10 06:50] PartlyFluked commented on #101
I've just done a couple naming edits, and added a util function for ndc_to_pix next to pix_to_ndc in rasterize_meshes.py as I felt it was the most appropriate place.  #107

[2020-03-10 14:40] yyl494 opened #108 "Difficulty in installation"
Here is some error in the 2nd step of installation, which is installing prebuilt binaries for Pytorch3d. But I think my core library is correct.
![image](https://user-images.githubusercontent.com/62021819/76322287-949cd780-62b9-11ea-8768-5d9ddf40edb2.png)
Here is my conda list. torch version is 1.4.0
![image](https://user-images.githubusercontent.com/62021819/76322996-75eb1080-62ba-11ea-8a68-a73d2

[2020-03-10 17:42] bottler commented on #108
You don't have pytorch (or torchvision) installed in the list. That's why it's complaining.

[2020-03-11 00:00] yyl494 commented on #108
But I can see my toch and torchvision in the last picture in conda list

[2020-03-11 00:17] bottler commented on #108
Sorry. I missed them. Something funny is happening. It looks like torch is installed from pypi not conda - is that right? That means you don't actually have pytorch conda package.

Can you maybe try in a new repository, just installing what you need.

It is true that we don't support cuda 10.2, but I don't think that's a problem here, you have the 10.0 cudatoolkt.

[2020-03-11 00:27] yyl494 commented on #108
I use pypi because of a firewall. Can I use torch 1.3 from a mirror website？

[2020-03-11 00:59] bottler commented on #108
If you are happy with CPU-only for some parts of pytorch3d, you can try `pip install pytorch3d` in that environment.

Another possibility is building pytorch3d from source in that environment.

[2020-03-11 01:24] yyl494 commented on #108
Thank you! I'll try these.

[2020-03-11 04:34] yyl494 commented on #108
I solve the problem with `conda install --offline` for torch, torchvision and pytorch3d. It's really important to use conda and pypi is the reason of conflicts. Thank you.

[2020-03-11 04:34] #108 closed

[2020-03-11 13:02] yyl494 opened #109 "Can't use cuda"
I run the following code in ubuntu anaconda virtual environment.
[code]
Here is the output:
[code]
The expected device is cuda but it turns out to be cpu.
Also, if I only `import pytorch3d` without `import pytorch3d.utils as utils`, then it will give an AttributeError: module 'pytorch3d' has no attribute 'utils'. The same error for other pytorch3d modules.

[2020-03-11 13:13] nikhilaravi commented on #109
The default device for 'ico_sphere' is cpu. To get the returned mesh on a device you need to pass in the device e.g.
[code]

[2020-03-11 13:19] yyl494 commented on #109
Actually if I use device = 'cuda', it will still go wrong. I install pytorch3d offline. Maybe there is some path issues but I'm not familiar with conda.

[2020-03-11 13:21] nikhilaravi commented on #109
It seems you have two separate errors.  The error for `'pytorch3d' has no attribute 'utils'.` suggests that pytorch3d was not installed properly. Are you installing via local clone?

[2020-03-11 13:26] yyl494 commented on #109
I download the file from anaconda website and install with `conda install --offline path`.

[2020-03-11 13:34] bottler commented on #109
The `cuda` function returns a new meshes object without modifying the original. You might want `mesh=mesh.cuda()`.

I think the following should be normal and should work
[code]
or
[code]
Best not to expect to use `utils` within `pytorch3d`.

[2020-03-11 13:39] yyl494 commented on #109
Oh, I see. Thank you for your timely reply.

[2020-03-11 13:39] #109 closed

[2020-03-12 09:26] raincrash commented on #97
Hi, may I work on this good-first-issue PR @nikhilaravi or is someone working on fixing this already?

[2020-03-12 13:31] nikhilaravi commented on #97
@raincrash I already have a fix for this issue. But have a look at the comments in other open issues if you'e interested in contributing :) Some of them have explanations for the necessary fix.

[2020-03-12 16:28] nikhilaravi commented on #94
@Jiayi-Wang-MPI ok thanks for letting me know. I will add a fix for this with more tests to check the cases that you mentioned.

[2020-03-12 21:04] shubhtuls opened #110 "nan in Rasterizer gradients"
## Description
I encountered a case where two vertices of a triangle had same screen-space XY coordinates, and this led to a 'nan' value in the gradient.

Some interesting things I noted:
- Using CPU instead of GPU (Quadro GP100 in this case) leads to no issues
- Using CPU vs GPU also gives different pix2face in forward pass of the rasterizer. The CPU run ignores the offending triangle's contribut

[2020-03-12 21:14] shubhtuls commented on #110
Update: actually, even using a simpler vertex location can reproduce the error e.g.
[code]

[2020-03-12 21:30] nikhilaravi commented on #110
@shubhtuls thanks for the detailed explanation of the issue. I will try to reproduce the error as described and get back to you!

[2020-03-12 22:59] shubhtuls commented on #110
I think this is related to some precision issues when computing the face areas. Adding a statement to print the 'face_area' in the cuda rasterizer implementation [here](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/csrc/rasterize_meshes/rasterize_meshes.cu#L132-L134) shows that it is of the order of 1e-9, which is greater than the kEpsilon=1e-30 used to check for zero area.

[2020-03-12 23:55] ZhengyiLuo opened #111 "Render image with background image"
## 🚀 Feature
Would it be possible for us to specify a background image to be rendered as the background for the mesh image?

## Motivation
It would be great if we can render meshes with background images and have it directly in the renderer instead of rendering two images (foreground + background) and then blend with a background image (not sure if this is the correct way to do).

## Pitch

Render

[2020-03-13 01:55] gkioxari commented on #110
Small face areas are such a headache! Did nans disappear with 1e-7?

[2020-03-13 02:03] shubhtuls commented on #110
@gkioxari  - so far, yes!

[2020-03-13 04:44] nikhilaravi commented on #111
@ZhengyiLuo thanks for suggesting this feature. It is in the roadmap for our next major release which is scheduled for April.

[2020-03-13 15:28] ZhengyiLuo commented on #111
Thanks a ton! Looking forward to it!

[2020-03-13 15:28] #111 closed

[2020-03-15 18:39] wangsen1312 opened #112 "How to Render Vertex Colored mesh?"
## ❓ Questions on how to use PyTorch3d

Any simple example for render vertex colored .ply mesh?

[2020-03-16 04:14] nikhilaravi commented on #112
@wangsen1312 You can initialize a mesh using vertex rgb colors as a texture and use that in the rendering pipeline e.g.

[code]

[2020-03-16 04:20] nikhilaravi commented on #95
@ivan-pavlov were you able to resolve your original issue?

[2020-03-16 04:22] nikhilaravi commented on #63
@vilhub can I close this issue?

[2020-03-16 21:12] ivan-pavlov commented on #95
@nikhilaravi thank you a lot for your response and detailed answer!
Excuse me for the delayed reply, I had to postpone the investigation of this problem but I am still interested in finding the proper way to infer the "soft" depth.

I've tested your proposed solution but unfortunately it doesn't seem to solve the problem.
The "soft" depth produced by this approach is still a lot different from the

[2020-03-16 22:15] wangsen1312 commented on #112
@nikhilaravi Thank you for your response.
I have tried the code you offered and replace the tex with below:
[code]
But it occurs some error:

  File "/home/xxz/Code/RNN/renderTexured/customshader.py", line 17, in forward
    images = self.shader(fragments, meshes_world, **kwargs)
  File "/home/xxz/anaconda3/lib/python3.7/site-packages/torch/nn/modules/module.py", line 532, in __call__
    result =

[2020-03-17 02:41] wangsen1312 commented on #112
@nikhilaravi  Due to the shader problem, I found such HardPhongShader works well on vertex_rgb. Thank you very much~

[2020-03-17 02:41] #112 closed

[2020-03-17 16:43] nikhilaravi commented on #97
This should now be fixed by https://github.com/facebookresearch/pytorch3d/commit/5d3cc3569a03f44647857243efd0d80588a6785b.

[2020-03-17 16:43] #97 closed

[2020-03-17 19:24] nikhilaravi commented on #112
@wangsen1312 Yes! Glad you resolved your issue!
There are different shaders for each texture type - as you probably noticed, the `HardPhongShader` calls a function `interpolate_vertex_colors`  whereas the `TexturedPhongShader` calls a function `interpolate_texture_map` which expects the `faces_uvs` and `verts_uvs`.

[2020-03-17 19:24] nikhilaravi commented on #47
Closing this issue! If you are still having problems feel free to reopen it.

[2020-03-17 19:24] #47 closed

[2020-03-17 19:25] nikhilaravi commented on #63
Closing this issue. If you are still experiencing issues feel free to reopen it.

[2020-03-17 19:25] #63 closed

[2020-03-17 19:26] nikhilaravi commented on #71
@ethansu1992 I'm closing this issue. Feel free to reopen it if you are still experiencing problems.

[2020-03-17 19:26] #71 closed

[2020-03-17 19:31] nikhilaravi commented on #102
@shihfangchen did you check the installation was completed correctly? If you don't need help anymore please close this issue.

[2020-03-17 21:10] nikhilaravi commented on #89
@dhrosquete if you have any specific questions about how to use PyTorch3D for this we can help. I'm closing this issue but feel free to reopen it if you have questions.

[2020-03-17 21:10] #89 closed

[2020-03-17 21:33] Hemantr05 opened #113 "Installation and Setup with DockerFile"
## 🚀 Feature
I would like to propose and implement a DockerFile for easy installation and set up of pytorch3d

## Motivation

A lot of users might face problems while installation, I personally took some time to set it up, but a dockerfile makes this easier.
One line of code to run the dockerfile.

## Pitch

The DoclkerFile would :
1. check for python
2. Ask for OS
3. create a virtual environment

[2020-03-17 21:54] Hemantr05 commented on #38
No, @nikhilaravi , the installation with conda failed. I guess it's because of the cuda version (requirements specify the cuda version to be 9.2 and above)

[2020-03-17 22:31] nikhilaravi commented on #113
@Hemantr05 yes this sounds like a good idea. Do you plan to implement it or do you need support from us?

[2020-03-17 23:05] Hemantr05 commented on #113
@nikhilaravi will try implementing it. Should be done by today.
If any support is needed, what would be the approach for it?

[2020-03-17 23:13] nikhilaravi commented on #113
Great! Feel free to make a PR when you're ready. If you have any questions you can ask them here or on your PR.

[2020-03-17 23:15] Hemantr05 commented on #113
Will do, thanks a ton @nikhilaravi

[2020-03-17 23:55] bhadresh74 commented on #112
@nikhilaravi
On a similar note, do you have any plans to add a new feature like rendering face colors instead of vertex colors?
If no, can you just briefly explain if its doable in this repo?

[2020-03-17 23:58] bhadresh74 commented on #113
I was successfully able to setup pytorch3d using docker. Let me know if anyone needs any help.

[2020-03-18 00:14] Hemantr05 commented on #113
@bhadresh74 is it possible for you share the same?

[2020-03-18 00:20] bhadresh74 commented on #113
[install_Pytorch3D_Dockerfile.txt](https://github.com/facebookresearch/pytorch3d/files/4346345/install_Pytorch3D_Dockerfile.txt)
@Hemantr05 There it is. Enjoy.

[2020-03-18 00:25] Hemantr05 commented on #113
@bhadresh74  thank you

[2020-03-18 03:14] #102 closed

[2020-03-18 16:50] ryanfarrell commented on #79
@nikhilaravi What about simple a different color per part -- is this feasible??

[2020-03-18 21:55] nikhilaravi commented on #79
@kondela apologies for the late reply! We are working on this feature now.

@ryanfarrell you can assign a color per vertex? Would that be sufficient? Or do you want a color per face?

[2020-03-18 21:58] nikhilaravi commented on #22
@DemonElite yes the texture is differentiable i.e. if you create a tensor for e.g. vertex_rgb colors which has `requires_grad=True` then you should be able to propagate gradients.

We are currently working on adding support for a per-face texture similar to Neural Mesh Renderer.

[2020-03-19 10:39] michele-arrival opened #115 "meshes.extend causes problem with tensor.view"
simple code where an object of class "Meshes" is extended from 1 to a batch size > 1 via `meshes.extend(N)` causes:

[code]

code to replicate:
[code]

in other versions of my own code i get the error somewhere else, e.g.:
[code]

[2020-03-19 10:42] srxdev0619 opened #116 "Translucent Overlap in the rendered Image"
## 🐛 Bugs / Unexpected behaviors

There is a translucent layer on top of the rendered image that most likely shouldn't be there. Shown below is the rendered image
<img width="495" alt="Screen Shot 2020-03-19 at 4 02 28 PM" src="https://user-images.githubusercontent.com/9676573/77058453-7a6ea200-69fb-11ea-8559-5de51db5af39.png">

I'm using the Basel Face Model and the vertex colors are set to the m

[2020-03-19 17:58] gkioxari commented on #115
This is likely due to the noncontiguity of the tensor. Try `reshape` instead as suggested by the RuntimeError.

[2020-03-19 18:23] michele-arrival commented on #115
I can certainly change it in my version. However doesn't it sound like a bug that will occur often for many users?

[2020-03-19 18:57] gkioxari commented on #115
Absolutely! This was just intended to unblock you!

[2020-03-19 21:45] nikhilaravi commented on #116
Hi @srxdev0619 are you rendering the RGBA image or just the RGB component (i.e. image[..., :3])?

[2020-03-19 23:23] rahuldey91 opened #117 "CUDA error: device-side assert triggered in sample_points_from_meshes function"
Hi. First of all, thanks for developing this long-desired tool. Now, coming to the bug.

I just started working with PyTorch3D and was trying the tutorial from here: https://github.com/facebookresearch/pytorch3d/blob/master/docs/tutorials/deform_source_mesh_to_target_mesh.ipynb

I started with my own jupyter notebook to reproduce the code. However, when I tried to visualize the meshes, by calling

[2020-03-19 23:48] gkioxari commented on #117
Hi @rahuldey91! Thank you for your kind words.

This is issue has been reported before (see https://github.com/facebookresearch/pytorch3d/issues/82 and https://github.com/facebookresearch/pytorch3d/issues/63) and is likely due to nans in your meshes. Could you print our or check for nans before you execute sampling?
In the meantime, I will add a check at the beginning of mesh sampling which will r

[2020-03-20 02:52] ryanfarrell commented on #79
Hi @nikhilaravi - I think that either would be fine (whatever is easier to implement).  We would just like the ability to get a part-wise colored segmentation rather than a figure/ground segmentation.  This would, for example, allow left/right disambiguation for symmetric objects (e.g. you could tell the difference between looking at a person facing you vs. looking away by which side the left arm

[2020-03-20 03:17] gkioxari commented on #115
I fixed the issues you report above with https://github.com/facebookresearch/pytorch3d/commit/6c48ff6ad9005cfc03704c77531a4a25d1c8d843. If you find similar issues please report them or even add a PR that fixes them if you prefer! Thank you again for reporting this :)

[2020-03-20 03:17] #115 closed

[2020-03-20 03:17] gkioxari commented on #117
I added a check that raises an error if non finite values are passed (see https://github.com/facebookresearch/pytorch3d/commit/6c48ff6ad9005cfc03704c77531a4a25d1c8d843).

[2020-03-20 05:55] srxdev0619 commented on #116
Just the RGB image as follows

[code]

[2020-03-20 06:08] rahuldey91 commented on #117
Hi @gkioxari! Thanks for your quick response and pointing out related issues. I was trying to check for the presence of nans in the mesh, but I was getting the same error even while calling trg_mesh.verts_list(). Then I noticed that my mesh was in device "cuda:7". I reran the code after changing the device to "cuda:0" and I got the desired output without any errors. Could you help me understand wh

[2020-03-20 09:58] michele-arrival commented on #115
many thanks for the fix!

[2020-03-20 10:10] charleschiu2012 opened #118 "Difficulty understanding the parameters meaning in pytorch3d.renderer.cameras.look_at_view_transform"
In pytorch3d.renderer.cameras.look_at_view_transform function, the parameters explanation of `elev` and `azim` is confusional. [https://github.com/facebookresearch/pytorch3d/blob/6c48ff6ad9005cfc03704c77531a4a25d1c8d843/pytorch3d/renderer/cameras.py#L1018](url)

azim – angle in degrees or radians. The vector from the object to the camera is projected onto a `horizontal plane y = z = 0`. azim is th

[2020-03-20 14:59] m-nez opened #119 "Gradient not calculated for transforms.matrix_to_quaternion"
It looks like the gradient is not calculated for transforms.matrix_to_quaternion.

[code]
After running the code above the matrix after optimizer step shouldn't contain NaNs, but it does.

[2020-03-20 16:57] hanseungwook commented on #79
How would you go about rendering a ShapeNetCore.V2 object without texture at all then? I've tried arbitrarily setting the texture_image (in the tutorial) to all 1's, but that doesn't work either.

[2020-03-20 16:57] hanseungwook commented on #79
@nikhilaravi How would you go about rendering a ShapeNetCore.V2 object without texture at all then? I've tried arbitrarily setting the texture_image (in the tutorial) to all 1's, but that doesn't work either.

[2020-03-20 17:58] gkioxari commented on #117
This shouldn't create a problem. Note that we use these ops to train on multiple GPUs, e.g. when training Mesh R-CNN models with distributed training on 8 gpus. Is it possible that your data was living on different devices, or that your GPU is corrupt in any way? I can't think of other reasons why it would fail.

[2020-03-20 18:16] rahuldey91 commented on #117
Here is my ipynb file to reproduce the error. If you change the device to `device = torch.device("cuda:0")`, it will run without errors. For any other gpu, it shoots this error.
[sphere_to_dolphin.zip](https://github.com/facebookresearch/pytorch3d/files/4361254/sphere_to_dolphin.zip)

[2020-03-20 18:29] nikhilaravi commented on #117
@rahuldey91 are you using one gpu or multiple gpus? If you are using a GPU other than the default you may need set it explicitly as :
[code]

[2020-03-20 20:45] gkioxari commented on #119
You're absolutely correct! After some investigation, the issue comes from the somewhat unexpected backward behaviour of `torch.sqrt(torch.max(zero, x))` in the implementation in https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/transforms/rotation_conversions.py#L99 - https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/transforms/rotation_conversions.py#L102. We a

[2020-03-20 21:12] rahuldey91 commented on #117
Oh I see. That resolves the issue. You can go ahead and close it. Thanks.

[2020-03-20 21:37] #117 closed

[2020-03-20 21:40] nikhilaravi commented on #118
@charleschiu2012 the ground plan is indeed xz.  You are right that the comment for azim should say that the horizontal plane is `y=0`.

Feel free to submit a PR for this documentation fix or we can fix it too.

[2020-03-20 21:46] nikhilaravi commented on #116
@srxdev0619  ok thanks for clarifying.  Can you provide a minimal script for reproducing the error? I can download the basel model and try to debug.
Can you also try the `HardPhongShader` to see if it also produces the same artifact?

[2020-03-20 21:52] nikhilaravi commented on #79
@ryanfarrell we already have support for vertex colors.  You can initialize an array of vertex rgb colors and use this with the `Textures` class when initializing a mesh e.g.
[code]

We are working on updating the texturing API so we can try to support per face colors as well if possible! :)

@hanseungwook you can initialize vertex rgb colors to ones as shown above to create a white surface for an

[2020-03-21 06:18] srxdev0619 commented on #116
Sure thing @nikhilaravi, [minimal_example_pytorch3d.zip](https://github.com/facebookresearch/pytorch3d/files/4362510/minimal_example_pytorch3d.zip)  contains the relevant data and a minimal notebook (named `RenderMesh_pytorch3d.ipynb`) to reproduce the bug.  You just need to put the BFM2017 `model2017-1_bfm_nomouth.h5` file inside `./BFM2017/`, after which you should be able to reproduce the rende

[2020-03-21 16:41] hanseungwook commented on #79
Thanks for following up so closely on this!

[2020-03-21 16:49] hanseungwook commented on #79
By the way it seems that you to do the following to make conform verts_rgb into the correct shape of (1, V, 3):

`verts_rgb_src = torch.ones_like(verts)[None]`

[2020-03-23 01:58] bhadresh74 commented on #17
Hi @nikhilaravi , I am also interested in this feature.
Do you have any approximate time frame when this feature will be made available?

[2020-03-23 09:22] #118 closed

[2020-03-23 15:37] nikhilaravi commented on #17
@bhadresh74 we are currently working on this feature!

[2020-03-24 05:50] Chanwooong opened #121 "Can I do backward using Pytorch3d?"
## ❓ Questions on how to use PyTorch3D

When I Training a 3d generation  model,
the result of this model is obj (tensor), and Using pytorch3d, I want to obtain the rendering image. so I want to calculate the loss(between render image <-> GT) and apply backward to the 3d own's model

Previously, I wanted to use the numpy-based rendering library, but the backward calculation was difficult so it coul

[2020-03-24 15:33] nikhilaravi commented on #121
Hi @Chanwooong this is exactly the use case for which we built PyTorch3D.  We support gradients for almost all operators, and for differentiable rendering, we have custom CUDA kernels for fast and efficient calculation of the forward and backward pass.

You can call `.backward()` directly after you calculate the loss as you described e.g.
[code]

To get started try one of the tutorials e.g. [camer

[2020-03-24 15:34] #121 closed

[2020-03-24 19:01] williamljb commented on #39
Hi Nikhila Ravi,

If it is not too complicated, it would be great if the current sampling algorithm can have an option to smooth the normals sampled.

Thank you for the great work!

[2020-03-24 22:13] Haitham96 opened #122 "Building / installing from source error"
Hi,
*I'm on Ubunto 18.04.1
I follow your instruction to install pytorch3d in [install.md (https://github.com/facebookresearch/pytorch3d/blob/master/INSTALL.md)
and in the last point **Building / installing from source** i tried to install through
`pip install 'git+https://github.com/facebookresearch/pytorch3d.git'`
and i got this error:
`(pytorch3d) adminpassis123:~/Downloads/pytorch3d/docs/tutori

[2020-03-24 22:40] bhadresh74 commented on #18
@wangg12 Thanks for sharing your script. I am trying to do something similar using your script.
However the rendering is vertically stretched as shown below.
<img width="340" alt="Screen Shot 2020-03-24 at 5 35 07 PM" src="https://user-images.githubusercontent.com/9024246/77483365-fe5acc80-6df5-11ea-9478-0aef8ef92ca7.png">
Ideally, it should look like this.
<img width="337" alt="Screen Shot 2020-0

[2020-03-24 22:44] nikhilaravi commented on #18
@bhadresh74 yes the rasterizer currently only works for square images!

[2020-03-24 22:47] bhadresh74 commented on #18
@nikhilaravi Thanks for the prompt response. Do you think the rendering is stretched due to rasterization? If not, then I can keep debugging to resolve this.

[2020-03-24 22:53] bottler commented on #122
I think the compiler is too old. An error like `body of constexpr function ... not a return-statement` sounds like it understands C++11 but not C++14.

Can you use a different compiler or use a prebuild package for pytorch3d?

[2020-03-25 00:45] ShairozS opened #123 "Rendering with .mtl file"
I'm following the example outlined in the "Render Textured Meshes" tutorial, and while my .obj file loads fine I'm not sure if or how I'm able to render it with an associated .mtl file present in the same folder? I'm using data downloaded from ShapeNet. Below is a screenshot of what I'm trying:

![temp](https://user-images.githubusercontent.com/14152951/77490063-141cc180-6df7-11ea-9c18-eb31956f667

[2020-03-25 01:10] nikhilaravi commented on #123
Hi @ShairozS, is the name of your `.mtl` file referenced correctly at the top of your `.obj` file?

To debug you can try loading the `.obj` and seeing if any texture images are loaded:
[code]

[2020-03-25 08:14] Chanwooong opened #124 "Can I render an obj file composed of vertice triangle color(none texture)?"
## ❓ Questions on how to use PyTorch3D

In the tutorial, it seems that the obj file can be rendered when there is a texture.
However, I am wondering if rendering is possible for obj files composed of (vertices, triangles, and colors.)

Sorry for the frequent questions.

[2020-03-25 08:42] #124 closed

[2020-03-25 08:43] Chanwooong commented on #124
By studying more documents, I now kwon how

[2020-03-25 13:55] ShairozS commented on #123
@nikhilaravi
Thanks for the quick response! Below is the top of the .obj file

![temp](https://user-images.githubusercontent.com/14152951/77543606-2df4ed80-6e65-11ea-8db0-eaa918d58439.png)

the .mtl file
![temp2](https://user-images.githubusercontent.com/14152951/77543637-3816ec00-6e65-11ea-8ec3-21fbcebe9b5e.png)

and the result of the code snippet you posted, which seems to indicate that material

[2020-03-25 16:48] nikhilaravi commented on #123
@ShairozS I checked the data you sent and for the model you were had tried in the description of the issue `107c0b6b32282102493c8fb81dc7c4da` -- there isn't an `image` folder and the `.mtl` file only has material properties and no texture image so the output you saw was the expected output.

I tested loading the textures for the model you mentioned in the comment above  `1a40eaf5919b1b3f3eaa2b95b9

[2020-03-25 19:28] Haitham96 commented on #122
hello bottler
i have gcc 9.2.1
![image](https://user-images.githubusercontent.com/45899818/77577467-849f0d80-6edf-11ea-96fc-3e30231ddb8a.png)

[2020-03-25 22:17] bottler commented on #122
Interesting. Something funny is happening. I notice that in the compiler flags, there is `-std=c++14` (which is good) for the nine compilations of c++ files, and the failure is from the one cuda compilation, which has a `-std=c++11`, specifically for `nearest_neighbor_points.cu`.
Can you try running `export NVCC_FLAGS=-std=c++14`  and trying again?

(If that works, we can modify setup.py to make t

[2020-03-26 00:30] CorentinJ commented on #40
@yuanluxu Can you help me figure out why my build is failing? I followed your instructions [here](https://github.com/yuanluxu/pytorch3d/blob/master/INSTALL.md#2-install-from-a-local-clone).

[build_output.txt](https://github.com/facebookresearch/pytorch3d/files/4384371/build_output.txt)

[2020-03-26 04:26] yuanluxu commented on #40
@CorentinJ, could check this issue https://github.com/pytorch/pytorch/issues/30886 and double check your VS version? It seems to be a similar error. This error is more related to pytorch instead of pytorch3d and very unclear what it actually complains about.

[2020-03-26 08:57] Chanwooong opened #125 "Can I apply a vertice's (yaw pitch roll) or rotation matrix?"
## ❓ Questions on how to use PyTorch3D

In the previous method(I used), a rotation matrix was applied to the vertices so the transformed vertices were rendered.

but, I think pytorch3d renders according to camera rotation and position. I'm struggling not to solve these differences.

I searched for tutorials and documentation, but I couldn't find anything related.
Can you tell me if there is a way

[2020-03-26 11:49] CorentinJ commented on #40
But your instructions relate to a precompiled version of pytorch? I shouldn't have to compile pytorch myself, right?

Also, how do I to check my VS version?

[2020-03-26 13:15] Haitham96 commented on #122
i tried then i got  a similar error:
`Collecting git+https://github.com/facebookresearch/pytorch3d.git
  Cloning https://github.com/facebookresearch/pytorch3d.git to /tmp/pip-req-build-_d376w0l
  Running command git clone -q https://github.com/facebookresearch/pytorch3d.git /tmp/pip-req-build-_d376w0l
Requirement already satisfied (use --upgrade to upgrade): pytorch3d==0.1.1 from git+https://githu

[2020-03-26 13:27] bottler commented on #122
Now the errors I mentioned have gone, and you are left with the other errors about is_constructible pack lengths in tuple code. This sounds similar to https://github.com/facebookarchive/caffe2/issues/1898 so I'm wondering if it's a bug in nvcc/cuda which has been fixed. can you run `nvcc --version` and tell us what you have, and maybe try with a newer version?

[2020-03-26 13:32] Haitham96 commented on #122
![image](https://user-images.githubusercontent.com/45899818/77652476-f2e2df00-6f76-11ea-8556-4204e915775d.png)

[2020-03-26 13:39] bottler commented on #122
We generally say you need cuda 9.2 or newer to use the gpu parts of pytorch3d. Please upgrade, or build and use pytorch3d without cuda.

[2020-03-26 16:50] wangsen1312 commented on #123
It seems you miss the
`usemtl material`
in the obj file

[2020-03-26 16:56] wangsen1312 opened #126 "visibility map?"
## ❓ Questions on how to use PyTorch3D

Hi, I'd like to know whether the Pytorch3D can produce the visibility map for each vertice when rendering?

[2020-03-26 17:34] yuanluxu commented on #40
@CorentinJ , precompiled pytorch 1.4 + torchvision 0.5 should work. The error seems to come from compatibility of different VS version, as mentioned in the above issue. You can search "x64 native tools command prompt for VS 2019" and find your version information there. I would suggest to upgrade your VS to the latest version and re-compile. If this still does not work, please consider create an i

[2020-03-26 18:04] nikhilaravi commented on #126
@wangsen1312 can you explain what the format of the output should be? Do you mean a boolean indicator if the vertex is visible?

[2020-03-26 18:06] wangsen1312 commented on #126
@nikhilaravi Thank you for your quick response.
Your explanation is accurate.

[2020-03-26 19:08] nikhilaravi commented on #125
@Chanwooong the rotation of the camera is different from a transformation of the vertices. The camera rotation is used to align the position of an object with a camera located at a particular position in world coordinates.

The camera position can be set using the R and T arguments of a Camera - refer to the [`Cameras` docs](https://pytorch3d.readthedocs.io/en/latest/modules/renderer/cameras.html)

[2020-03-26 19:21] nikhilaravi commented on #35
@wangsen1312 this y flip issue has now been fixed - see #78 for further discussion.

[2020-03-26 19:36] nikhilaravi commented on #126
@wangsen1312 you can infer this information from the output of rasterization - we return a named tuple called `fragments` which contains a tensor called `pix_to_face`. This is an `(N, H, W, K)` dimensional tensor which gives the indices of the closest K faces (ordered by Z distance) for each pixel.

NOTE: the indices in `pix_to_face` refer to the packed faces of `meshes` i.e. the flattened list of

[2020-03-26 20:38] Haitham96 opened #127 "Camera position optimization using differentiable rendering didn't work well"
I have a obj 3d for a man and i have the silhouete of his picture from the front i want get the camera position that match the silhouete.
so i followed your amazing implementation in [Camera position optimization using differentiable rendering](https://github.com/facebookresearch/pytorch3d/blob/master/docs/tutorials/camera_position_optimization_with_differentiable_rendering.ipynb).
This is the sta

[2020-03-26 21:09] nikhilaravi commented on #127
@Haitham96 to debug, can you try changing the initial position of the camera (inside `Model` in the notebook) so the camera is a bit closer to the object?  The starting silhouette looks a bit strange..  Are you using a reference image loaded from an existing file or one that is generated following the steps in the tutorial?

[2020-03-26 21:20] Haitham96 commented on #127
yes i using a reference image loaded from an existing file.
i changed the initial camera position to [1.0,  1.0, 1.0]
![image](https://user-images.githubusercontent.com/45899818/77697789-2abe4680-6fb8-11ea-962a-caa3b64c422e.png)

but in the optimization step i got the same

![image](https://user-images.githubusercontent.com/45899818/77697838-41649d80-6fb8-11ea-9286-ec1bfccbbd04.png)

![image](http

[2020-03-26 22:30] wangsen1312 commented on #35
@nikhilaravi Got it, Nice work！

[2020-03-27 02:20] charleschiu2012 commented on #79
Looking forward to the new feature!
My scenario is to apply high-resolution pictures as textures on a particular face on different meshes and combine meshes into one. (i.e. Make 6 meshes to form a ball, then apply textures on the outer face of each valve.)
Thanks for your hard work!

[2020-03-27 05:52] srxdev0619 commented on #116
Any update on this? :)

[2020-03-27 17:15] soubhiksanyal commented on #17
Hi @nikhilaravi, I am also interested in this particular feature. I will give it try for a pure optimisation based method I'm working on. Is there any approximate time frame for this?

[2020-03-27 18:22] samhoff20 opened #128 "Python version error installing with Anaconda"
I'm running python 3.7 in this env but have tried 3.6 and 3.5 with the same result here:
![Screenshot from 2020-03-27 14-17-03](https://user-images.githubusercontent.com/52685675/77787507-086b0e00-7036-11ea-8e27-e5d8eae2b24f.png)
![Screenshot from 2020-03-27 14-18-28](https://user-images.githubusercontent.com/52685675/77787521-0dc85880-7036-11ea-908c-40147ca6bc97.png)

[2020-03-27 18:34] nikhilaravi commented on #128
@samhoff20 are you getting the same error about the python version even if you try a new environment which uses python 3.6?

[2020-03-27 18:36] samhoff20 commented on #128
Yes

[2020-03-27 18:38] nikhilaravi commented on #128
What conda version are you using?

[2020-03-27 18:39] samhoff20 commented on #128
4.8.3

[2020-03-27 18:39] samhoff20 commented on #128
build 3.18.11

[2020-03-27 19:07] nikhilaravi commented on #128
I tried to reproduce this error but I was able to install successfully following the installation instructions in [INSTALL.md](https://github.com/facebookresearch/pytorch3d/blob/master/INSTALL.md) and using python3.6 (conda version is 4.7.1).

cc @bottler if you have any other suggestions.

[2020-03-27 19:15] samhoff20 commented on #128
I was also able to successfully install with those directions. I don't think I had included `conda install -c conda-forge -c fvcore fvcore`

Thank you so much!

[2020-03-27 19:15] #128 closed

[2020-03-27 19:16] nikhilaravi commented on #17
Hi @soubhiksanyal! :) It certainly looks like this is a popular feature request :) We have been working on this feature and will aim to have it ready in the next few weeks. I'll update this issue with a more accurate time estimate soon.

[2020-03-27 21:36] nikhilaravi commented on #123
@ShairozS if you were able to resolve this problem please close the issue.

[2020-03-27 21:36] nikhilaravi commented on #125
@Chanwooong if you were able to resolve your problem please close this issue.

[2020-03-27 21:55] wangsen1312 commented on #126
@nikhilaravi It works for me.

[2020-03-27 21:55] #126 closed

[2020-03-28 23:36] Haitham96 commented on #127
Hi @nikhilaravi is there any idea how i can get it works?

[2020-03-29 07:09] bryanhpchiang opened #129 "What are the differences between PyTorch3D and NVIDIA Kaolin?"
https://github.com/NVIDIAGameWorks/kaolin

Would love to hear any design/goal differences -- thanks so much!

[2020-03-29 10:12] srxdev0619 commented on #116
Not sure if this helps, but the overlap disappears when I mask out the vertices that are not in view. The rendered image now looks like this using the `SoftPhongShader`

<img width="491" alt="Screen Shot 2020-03-29 at 3 41 29 PM" src="https://user-images.githubusercontent.com/9676573/77846460-d2639080-71d3-11ea-883c-cfe8c62a4535.png">

[2020-03-29 14:34] PascalYIN commented on #127
Hello there I have met a similar problem while trying to align 2 images using differentiable rendering, and I found something interesting, I would like to share my experience with you, and hopefully it might help.

I was using a dim6 vector of se3 to represent a camera position, which is transformed as a 4*4 matrix by se3 exponential mapping, noted M (shape 4*4). so R = M[:3, :3],  and T=M[3, :3]

[2020-03-29 14:42] Haitham96 commented on #127
Hi @PascalYIN thank you for sharing your experience, How changed them manually?

[2020-03-29 16:12] Haitham96 commented on #127
**update:** i tired to print R and T and i got a tensors of non values/
![image](https://user-images.githubusercontent.com/45899818/77854149-26c93900-71f1-11ea-8750-1db61ad6a951.png)

[2020-03-30 14:41] Haitham96 commented on #127
@nikhilaravi i also tried to use a  reference image just like that is generated following the steps in the tutorial, i didn't change any thing in the tutorial just upload my object instead of yours and change this parameters:
`distance = 2   # distance from camera to the object
elevation = 20.0   # angle of elevation in degrees
azimuth = 0.0  # No rotation so the camera is positioned on the +Z axi

[2020-03-30 15:22] nikhilaravi commented on #116
@srxdev0619 Apologies for the delayed response. I will try your minimal example code and get back to you!

[2020-03-30 23:37] #123 closed

[2020-03-30 23:38] #125 closed

[2020-03-31 04:45] kcw4875 opened #130 "In this situation, is it possible to render without a camera view?"
## ❓ Questions on how to use PyTorch3D

My situation is as follows.
When the vertices are already rotated and projected and
if the desired render image size is 224x224, the vertices are normalized to be positioned at 224 sizes.

In my opinion, I just need to plot using the given vertice's x, y coordinates, and color information and triangle without considering the camera view(angle and position..)

[2020-03-31 07:07] PascalYIN commented on #127
@Haitham96 Hi, for example x is the parameter that I what to calculate its gradient. I manually set
`x.grad = -x.grad` and that's it.

But I have impression that the optimization works by chance, because the loss in my experience dropped only for several frames (with the grad set to be negative), and for other frames the loss always augmented either for +1 * grad or -1 * grad

[2020-03-31 09:43] srxdev0619 commented on #116
Sure, thank you!

[2020-03-31 12:55] xingmimfl opened #131 "how to apply pytorch3d to face 3d reconstruction?"
In this situation, i have got vertex/angles/scale, how can i project this vertex onto 2d images? like this
![WXl](https://user-images.githubusercontent.com/32946466/78028700-fb318480-7391-11ea-9f27-dbef15fed59d.png)

[2020-03-31 18:23] bottler commented on #36
pytorch3d is now available on pypi for Mac and Linux. These are CPU-only builds - they don't use cuda.

[2020-03-31 18:23] #36 closed

[2020-03-31 18:57] nikhilaravi commented on #131
@xingmimfl it sounds like you just need to transform the vertices and then project them onto a 2D image. For this you probably don't need a renderer.  #125 is a related issue.

You can initialize a Rotation/Translation matrix based on the angles (do you mean euler angles?). Have a look at the [RotateAxisAngle](https://pytorch3d.readthedocs.io/en/latest/modules/transforms.html#pytorch3d.transforms.

[2020-03-31 21:32] nikhilaravi commented on #130
@kcw4875  You will first need to create a `Meshes` with the verts/faces of the mesh and a `Textures` object with the vertex_rgb colors.  See this related issue about how to render a mesh with vertex colors: #112 and have a look at the [camera position optimization tutorial](https://github.com/facebookresearch/pytorch3d/blob/master/docs/tutorials/camera_position_optimization_with_differentiable_ren

[2020-04-01 01:24] kcw4875 commented on #130
Thank you for the quick response,

The meshes_screen is missing in the forward part of the CustomMeshRasterizer code you gave.

I put "meshs_screen = mesh_world" and run.
However, all pixel values ​​in the rendered image are 0.

In the camera position optimization tutorial, I changed my code to fit the customMeshRasterizer.
The code is as follows.

[2020-04-01 02:25] nikhilaravi commented on #130
Are you using the same teapot_mesh as in the tutorial? It will not work with the teapot mesh which is loaded because the teapot mesh vertices are in world coordinates and need to be transformed and projected into 2D.

You mentioned that your mesh vertices have already been transformed and projected - did you try it with this input?

[2020-04-01 05:16] rahuldey91 opened #132 "NoneType error on rendering a mesh with texture initialized with verts_rgb"
I am facing problems with rendering a mesh with Texture initialized using verts_rgb. As a toy example, I used the same code as in #https://github.com/facebookresearch/pytorch3d/issues/15#issue-556461060 with the additional definition of a renderer.

[code]

When I try to render, I get the following error:

[code]

However, the rendering works only when the Texture is initialized with verts_uvs, fa

[2020-04-01 05:55] ldepn opened #133 "how to set the projection of camera?"
## ❓ Questions on how to use PyTorch3D

I have the camera intrinsics matrix K（3*3）, the rotation matrix R (3*3) , the  translation matrix t(1*3) and the 3D model, how to render the model  with projection mode?  Can you provide an example？

thanks！！

NOTE:

1. If you encountered any errors or unexpected issues while using PyTorch3D and need help resolving them,
   please use the "Bugs / Unexpected

[2020-04-01 06:50] tomguluson92 opened #134 "What `dist` in rasterization for?"
Hi @nikhilaravi,

####     I am wonder the practical meaning of `dist` in the following screenshots.  ####
Since I assum  `z_buf` represents `depth` of each intersection of one pixel, `bary_coords` represents barycentric coordinates for each intersection.

![image](https://user-images.githubusercontent.com/19585240/78107044-53ff2c80-7427-11ea-8398-477bf833530f.png)

The explanation of **pix_dists:

[2020-04-01 08:13] willie1997 commented on #133
It seems that the demo only uses:
cameras = OpenGLPerspectiveCameras(device=device, R=R, T=T)
![image](https://user-images.githubusercontent.com/39046939/78114282-9af31f00-7433-11ea-8fe4-f3b18802a918.png)
and the initial parameters do not contain the intrinsic matrix. Have you figured out?

[2020-04-01 10:01] ldepn commented on #133
@willie1997 I tried to use SfMPerspectiveCameras，But， this is no use.
my code :
`import os
import torch
import matplotlib.pyplot as plt
from skimage.io import imread

# Util function for loading meshes
from pytorch3d.io import load_objs_as_meshes

# Data structures and functions for rendering"""  """
from pytorch3d.structures import Meshes, Textures
from pytorch3d.renderer import (
    look_at_vie

[2020-04-01 10:18] ldepn commented on #133
@willie1997 I tried to use SfMPerspectiveCameras，But, this is no use.
my code
`import os
import torch
import matplotlib.pyplot as plt
from skimage.io import imread
from pytorch3d.io import load_objs_as_meshes

from pytorch3d.structures import Meshes, Textures
from pytorch3d.renderer import (
    look_at_view_transform,
    OpenGLPerspectiveCameras,

    PointLights,
    DirectionalLights,
    Mate

[2020-04-01 11:34] SeokjuLee opened #135 "Is there differentiable function for inverse perspective geometry?"
Thanks for releasing such a powerful library for 3D vision.
I am interested in estimating depth by differentiable rendering.
If a dense correspondence map (F_12) and relative camera pose (T_12) between two frames (I_1, I_2) are given, can I inversely compute a reference depth, which is `zbuf` in pytorch3d with a differentiable way?
Could you recommend some scripts to achieve this?

[2020-04-01 13:53] willie1997 commented on #133
thanks to wangg12 https://gist.github.com/wangg12/32250e352671c7f8c9a42ddb437142a6
I use OpenGLRealPerspectiveCameras:
cameras =  OpenGLRealPerspectiveCameras(device=device, focal_length=focal,  principal_point=principal_point, R=R, T=T, w=256, h=256)
This works for me.

[2020-04-01 15:09] gattia commented on #22
I have a similar question, I think?

I have meshes (typically work on them in vtk) that have scalar values associated with each vertex in the mesh. These values are information about the thickness of cartilage on the mesh (a bone). I am looking to use the thickness (scalar) values in a loss function so that a registration (like the dolphin example) takes these into account.

I cant fully tell from

[2020-04-01 15:45] ldepn commented on #133
@willie1997
When I use the code of wangg12,  I meet the follow bug. I have python setup.py install
RuntimeError: Not compiled with GPU support (RasterizeMeshesNaive at /home/hsy/ldp/code/pytorch3d/pytorch3d/csrc/rasterize_meshes/rasterize_meshes.h:96)
frame #0: c10::Error::Error(c10::SourceLocation, std::string const&) + 0x47 (0x7fa3d24f3627 in /home/hsy/anaconda3/envs/3d/lib/python3.7/site-packag

[2020-04-01 16:03] nikhilaravi commented on #134
Hi @tomguluson92 please refer to the [PyTorch3D documentation](https://pytorch3d.readthedocs.io/en/latest/modules/renderer/rasterizer.html#pytorch3d.renderer.mesh.rasterize_meshes.rasterize_meshes) where we have explained the input/output arguments of all the functions in detail. For this case:

We calculate the squared euclidean distance from the centre of the pixel to the face edges. This is use

[2020-04-01 16:09] nikhilaravi commented on #132
@rahuldey91 as explained in #112, there are different shaders for each texture type - the `HardPhongShader` calls a function `interpolate_vertex_colors` whereas the `TexturedPhongShader` calls a function `interpolate_texture_map` which expects the `faces_uvs` and `verts_uvs`.

We are making some updates to the texturing API and will add better error messaging for the different texturing options.

[2020-04-01 16:09] #132 closed

[2020-04-01 16:15] nikhilaravi commented on #133
@ldepn `Not compiled with GPU support ` is an unrelated issue - please refer to the Installation instructions in [INSTALL.md](https://github.com/facebookresearch/pytorch3d/blob/master/INSTALL.md) for correctly installing PyTorch3D with CUDA support and if you still have problems open a separate issue about this.

What was the issue with using `SfMPerspectiveCameras`?

[2020-04-01 16:26] nikhilaravi commented on #112
@bhadresh74 we are working on adding support for texture atlassing i.e. an `(R, R, 3)` texture map per face in the mesh, where R is the texture resolution. Then rendering with face colors would involve setting (R=1) to get an `(F, 1, 1, 3)` map which is essentially a per face color.

[2020-04-01 16:48] gkioxari commented on #135
Hi @SeokjuLee
I think your question is mostly related multi-view geometry. For some background, I highly recommend the _Multi-View Geometry in Computer Vision_ book authored by _Richard Hartley_ and _Andrew Zisserman_.

I will try to lay the problem out for you and then give you some references in how to go about solving it.

If you have a dense correspondence map, then you have K pairs of (x1, x2

[2020-04-01 17:00] ldepn commented on #133
@nikhilaravi  If the image size is  non-square pixels，how to set the image size for SfMPerspectiveCameras ？

[2020-04-01 17:23] nikhilaravi commented on #133
@ldepn we currently do not support rendering of non square images.  See #17 for further discussion.

[2020-04-01 17:27] wangg12 commented on #133
Currently one solution is to render a square image with the longest side and crop it.

[2020-04-01 20:58] nikhilaravi commented on #22
@gattia we are updating the texturing API such that instead of storing a color per vertex as a texture you can store any D dimensional feature.  This might help with your use case. We are currently working on adding support for this.

[2020-04-01 20:59] #133 closed

[2020-04-01 22:44] gkioxari commented on #131
Hi @xingmimfl
I marked your question with a _how to_ label, as it's not an issue or question regarding an implementation in the codebase, but it's a question about how to use PyTorch3D in your project. @nikhilaravi has been kind to provide some tips to help you, which can hopefully get you started. I will be closing this issue though as it's not pertinent to the codebase. Good luck with your proje

[2020-04-01 22:44] #131 closed

[2020-04-01 22:45] gkioxari commented on #135
Hi @SeokjuLee
I marked your question with a _how to_ label because it's not regarding an issue or question regarding an implementation in the codebase, but it's a general 3D geometry question. I provided some links and references to get you started. I will be closing this issue. Good luck!

[2020-04-01 22:45] #135 closed

[2020-04-01 22:47] gkioxari commented on #105
Hi @jamalknight
We haven't heard from you regarding this issue. PyTorch3D and anaconda are good friends. If you find that there is a problem, please re-open this issue.

[2020-04-01 22:47] #105 closed

[2020-04-01 22:50] gkioxari commented on #122
Hi @Haitham96
We haven't heard back from your regarding this issue. I believe it should be fixed after upgrading to cuda > 9.2. Please re-open this issue if the problem persists.

[2020-04-01 22:50] #122 closed

[2020-04-01 22:51] #134 closed

[2020-04-02 01:00] ShairozS opened #136 "Point cloud to Mesh"
Is there support or plans to support a method for point cloud triangulation (such as Delaunay triangulation) to estimate a mesh from a set of (N,3) points?

[2020-04-02 01:30] gkioxari commented on #136
Hi @ShairozS! We have (batched) data structure support for [pointclouds](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/structures/pointclouds.py) and [meshes](https://github.com/facebookresearch/pytorch3d/blob/master/pytorch3d/structures/meshes.py). Converting the former to the latter is an important feature. One could apply traditional techniques such as Delaunay or even try

[2020-04-02 02:49] ldepn opened #137 "How to get the depth image?"
## ❓ Questions on how to use PyTorch3D
when i use pytorch3d to render a model, i want to get the depth image, how to do?

NOTE:

1. If you encountered any errors or unexpected issues while using PyTorch3D and need help resolving them,
   please use the "Bugs / Unexpected behaviors" issue template.

2. We do not answer general machine learning / computer vision questions that are not specific to

[2020-04-02 04:46] gkioxari commented on #137
Hi @ldepn!
We provide really detailed [tutorials](https://pytorch3d.readthedocs.io/en/latest/overview.html#tutorials), [notes](https://github.com/facebookresearch/pytorch3d/blob/master/docs/notes/renderer_getting_started.md) and API [documentation](https://pytorch3d.readthedocs.io/en/latest/modules/renderer/index.html) on the rendering tools. This information should be more than enough to allow yo

[2020-04-02 05:02] ldepn commented on #137
@gkioxari  thanks ！

[2020-04-02 05:02] #137 closed

[2020-04-02 09:08] tomguluson92 commented on #134
Thanks for your kindness! I think the intersection point of the kth near plane is a more intuitive usage than a pixel in this part?

[2020-04-02 19:26] gattia commented on #22
@nikhilaravi Thanks for the update. That would be awesome.

Just so you have an idea of what I am thinking, I assume that I can create some sort of loss that determines if the "scalar values" or in this case a single texture value between close points on mesh 1 matches mesh 2.

pytorch3d seems like a potentially great solution for medical image/mesh analyses (registration to start), but the proble

[2020-04-03 16:44] bhadresh74 commented on #112
@nikhilaravi Thank you for adding this feature too. Excited to try that.

[2020-04-04 19:01] karim-eladl opened #139 "Artifacts when Rendering Mesh of a Specific .obj Exported from Blender"
Hi! I'm new to pytorch3d and am working on a project so any help at all is greatly appreciated as I may just not be familiar with some aspects of pytorch3d.

I'm trying to render a .obj (with .mtl and texture.png) of a plate that I created with Blender. Right now, I just modified the render_textured_meshes.ipynb found on the github under /docs/tutorials to take my .obj. When I test it with the pro

[2020-04-05 21:26] nikhilaravi commented on #139
Hi @karim-eladl, can you share the `.obj` and `.mtl` file so we can try to reproduce the error?

[2020-04-05 23:29] albertotono opened #141 "Bundle Asjustment: No module named 'camera_visualisation'"
## 🐛 Bugs / Unexpected behaviors
While running the Google Colab notebook (Absolute camera orientation given set of relative camera pairs) I got the following error:
![image](https://user-images.githubusercontent.com/11828200/78512552-701e0900-775a-11ea-9ce1-e55c05013cc3.png)
--2020-04-05 23:26:49--  https://raw.githubusercontent.com/facebookresearch/pytorch3d/master/docs/tutorials/utils/camera_vis

[2020-04-06 00:04] karim-eladl commented on #139
Yes @nikhilaravi, sure! I added .txt so I could attach them. Thanks!

[plate.mtl.txt](https://github.com/facebookresearch/pytorch3d/files/4435281/plate.mtl.txt)
[plate.obj.txt](https://github.com/facebookresearch/pytorch3d/files/4435282/plate.obj.txt)
![plate_texture](https://user-images.githubusercontent.com/59456868/78513290-77540f80-7778-11ea-8cf3-1436e8437794.jpg)

[2020-04-07 14:28] xingmimfl opened #142 "how to use sphere harmonic lighting?"
hello,  it seems  only point source lighting is supported now. How can I write a sphere harmonic lighting by myself?  :P

[2020-04-07 17:37] grgkopanas opened #143 "Point Cloud backward pass is 30 times slower that forward Pass"
## 🐛 Bugs / Unexpected behaviors
During Point Cloud rendering with a cuda device I noticed a 30 times slower backward pass comparing to the forward pass I consider this being unexpected combining with the fact that the profiling showed an abnormal use of the CPU.

More specifically the attached script produces the following results in a 1080 GPU:
Backward 1.3152024745941162
Forward 0.0570027828216

[2020-04-07 19:27] jcjohnson commented on #143
CUDA kernels can execute asynchronously with host code in Python, so when running timing benchmarks you need to insert explicit synchronization calls to get correct timing information.

Can you try changing this:

[code]

To this:

[code]

and see if you see the same slowdown?

[2020-04-07 19:36] nikhilaravi commented on #141
@albertotono I checked the filename and it is `camera_visualization.py` (`z` instead of `s`) - please make this change locally and we will update the tutorials. Thanks for pointing this out!

[2020-04-07 19:36] #141 closed

[2020-04-07 19:43] grgkopanas commented on #143
Hi, thanks for you thoughtful answer, I thought that even if my cuda kernels where not fully synchronized the bottlenck tool that I did the profiling with would insert proper synchronization.

Indeed the cuda synchronization changed the times but it switched the bottleneck to the forward pass:
Backward 0.024988412857055664
Forward 1.7400264739990234
Backward 0.013993501663208008
Forward 1.34622263

[2020-04-07 19:52] jcjohnson commented on #143
Ok, these numbers look more reasonable.

For the pointcloud rasterizer I'd expect the forward pass to be much slower than the backward pass, because it does more work. The forward pass needs to check every point against every pixel in order to find the nearest K points in depth, so it's complexity is something like O(number_of_points * number_of_pixels). In contrast the backward pass only needs to

[2020-04-07 20:04] grgkopanas commented on #143
Thanks a lot, it makes sense to have different order of magnitudes between passes then. Closing the ticket.

[2020-04-07 20:04] #143 closed

[2020-04-08 02:33] codey-boi opened #144 "RuntimeError: Expected object of device type cuda but got device type cpu for argument #1 'self' in call to _th_bmm"
## 🐛 Bugs / Unexpected behaviors
I am trying to put multiple objects into a single mesh, based on example code given in https://github.com/facebookresearch/pytorch3d/issues/15#issue-556461060

I altered the code slightly and have included it below.

When I run the code, it errors out on line 65 with the message:
RuntimeError: Expected object of device type cuda but got device type cpu for argument

[2020-04-08 02:53] codey-boi commented on #144
I have attempted to put the variables on the GPU in various ways..

I tried:

mesh = mesh.to(device) on the line after creating the Meshes object

and I have tried putting verts, faces, and textures onto the GPU before calling the Meshes object.

In these case, I get the error:
[code]

[2020-04-08 02:55] awreed opened #145 "sample_points_from_meshes() fails on GPU 2 but works on GPU 1"
## 🐛 Bugs / Unexpected behaviors
Hello,

The sample_points_from_meshes() function fails with the error below when my mesh is loaded to my second GPU 'cuda:1' but works when the mesh is loaded to my first GPU, 'cuda:0'.

## Instructions To Reproduce the Issue:

Please include the following (depending on what the issue is):

1. Here is the code. Code works if I change device='cuda:1' to 'cuda:0'
[co

[2020-04-08 02:58] awreed commented on #145
Just realized this has been asked before, sorry about that. I'll see if the closed issues have a solution.

[2020-04-08 03:09] awreed commented on #145
It seems the code runs by setting the cuda device to GPU 1
...
dev_1 = torch.device("cuda:1")
 torch.cuda.set_device(dev_1)
...

but this doesn't solve the issue if I want to load two meshes on different GPUs.

[2020-04-08 03:34] nikhilaravi commented on #145
@awreed do both meshes not fit on the same device?

[2020-04-08 03:47] nikhilaravi commented on #144
@codey-boi, did you already look at #132? This is almost exactly the same issue. Please use the suggestion in the comments on that issue regarding the `NoneType` error.

[2020-04-08 03:48] tomguluson92 commented on #110
Thanks for your solution, can I realize your solution aims to avoid gradient vanish problem through a more rigid settings according to each `face` area?

[2020-04-08 03:51] awreed commented on #145
They do, but they run through functions that I want to run on two GPUs before calling backwards().

[2020-04-08 03:59] codey-boi commented on #144
@nikhilaravi that fixed it, thank you! I must have missed that comment while I was looking through issues.

[2020-04-08 03:59] #144 closed

[2020-04-08 13:55] achao2013 opened #146 "does SfMPerspectiveCameras workable？"
## ❓ Questions on how to use PyTorch3D

I want to use SfMPerspectiveCameras to render a hunman face obj(with texturemap, x,y,z ~[-1,1])，but it seams that there are something wrong，the rendered result is strange:
![image](https://user-images.githubusercontent.com/5026576/78792404-a6ba8480-79e3-11ea-8aa3-fbba3e260c57.png)

SfMPerspectiveCameras(device=device, focal_length=np.array([[256,256]]), prin

[2020-04-08 16:07] nikhilaravi commented on #145
@awreed Can you move them to the same device before calling `sample_points_from_meshes`?

[2020-04-08 16:12] gkioxari commented on #136
I will be closing this issue for now as it is not regarding an issue with the codebase.

[2020-04-08 16:12] #136 closed

[2020-04-08 16:14] gkioxari commented on #110
@tomguluson92 In a follow up diff we are setting the `kEpsilon` value to `1e-8`. Yes the issue is the small face areas that are determined based on that value.

[2020-04-08 18:53] awreed commented on #145
Yeah that should work, then I could split the sampled points between GPUs afterwards. Thanks for the help!

[2020-04-08 18:54] #145 closed

[2020-04-09 02:24] #142 closed

[2020-04-09 11:31] achao2013 commented on #146
@nikhilaravi  can you tell me if the SfMPerspectiveCameras class is ready

[2020-04-09 23:29] gkioxari commented on #113
Seems like this issue is resolved. I am closing it and feel free to reopen it if anything new emerges.

[2020-04-09 23:29] #113 closed

[2020-04-10 00:02] gkioxari commented on #129
Hi @bryanhpchiang

We prefer not to comment on other efforts but focus on our own. Thus, I will answer the question of "why PyTorch3d?".

PyTorch3D is a library of reusable 3D components that was built to facilitate research in the intersection of 3D understanding and deep learning. As part of our efforts to push our research agenda forward we found we needed to implement 3D operators and data str

[2020-04-10 00:04] gkioxari commented on #129
Since this was not regarding a problem with the codebase, I will be closing this issue. Feel free to re-open it if you have follow up questions.

[2020-04-10 00:04] #129 closed

[2020-04-10 06:51] marlinilram commented on #95
Hi, @nikhilaravi
I'm wondering why z coordinates of **meshes_world** is used instead of **meshes_screen** in  `_interpolate_zbuf` for `raster_settings.blur_radius > 0.0` case? After this step, the zbuf won't repect to camera frame any more.  @ivan-pavlov 's view images also show that the depth value of soft rasterization is invariant to different views.

[2020-04-11 16:24] czkg opened #147 "Why the network is not updating?"
My network is not updating using GraphConv. I adopt the code from MeshRCNN, is this a bug?

Following are my code snippets, trying to make it as simple as possible. For training, I have:

[code]

and  the network looks like this:

[code]

The output gives me
[code]
which means it's not learning at all. However, if I use only one GraphConv layer in the net, like:

[code]
the output gives me:

[code

[2020-04-12 00:06] gkioxari commented on #147
Hi @czkg! Your issue has nothing to do with PyTorch3D and is related to optimization and requires a better understanding of deep learning.

Instead of feeding you the answer, I will take a pedagogical approach and will try to show you how you can debug this and how you can get to the answer yourself. I think that's more valuable than me telling you what's wrong with your code.

First tip: You shou

[2020-04-12 17:38] gkioxari commented on #147
Closing this task.

[2020-04-12 17:38] #147 closed

[2020-04-12 22:28] czkg commented on #147
Hi @gkioxari , thanks so much for your patience. As you suggested, I checked my network and noticed no matter how many gconv layers I am using, only the last layer in the module is updated, do you have any suggestion?

[2020-04-13 02:13] gkioxari commented on #147
The answer is suggesting more things, such as switching the initialization scheme of the GraphConv layers from "zero" to "normal". Again, I don't have access to your data, but when I reproduced your code by changing your data with `ico_spheres` changing the initialization to normal worked fine.

I think the problem lies with your problem formulation. You're trying to go from (x,y,z) of an initial,

[2020-04-13 02:15] czkg commented on #147
@gkioxari Yes, indeed. It works after I switched to 'normal'. Seems like the net is hard to learning anything given zero initialization.

[2020-04-13 02:17] gkioxari commented on #147
I wrote above an explanation of why your problem formulation is ill-defined and is expected to have optimization issues. I think you should re-consider how you're setting your problem up! Good luck!

[2020-04-13 02:18] czkg commented on #147
@gkioxari Thank you for your answer!

[2020-04-13 05:03] Chanwooong opened #149 "Strange scrateches on rendered image or Z axis inversion problem"
I think this issue is related to #116
When rendering a 3d face, I also see the following phenomenon.
![conform_epoch_5_001_01_01_140_08 (copy)](https://user-images.githubusercontent.com/47134016/79093201-847f8880-7d8e-11ea-9837-379403755c92.png)
figure 1.
Like #116  the nose is weird. This is a problem that the z-axis is reversed.
therefore, I processed the vertices with the z-axis reversed, so I

[2020-04-14 05:20] nikhilaravi commented on #149
This depends on what the coordinate frame is for the input mesh data relative to the world coordinate frame convention in PyTorch3D which is is +X left, +Y up and +Z in to the page.

What is the convention for the input mesh?

What do you mean by strange scratches? Are you referring to the white highlights? This may be because of specular highlights in the phong shading model. Try using the flat s

[2020-04-14 18:16] aluo-x opened #150 "Mesh IO from edge array?"
Pytorch3d allows the conversion of mesh faces to a packed edge representation, but not the otherway around.

Currently I have been working on rendering a mesh constructed from an edge array of shape (E, 2) or (2E, 2) depending on if the graph is directed or now. One possible problem is that normals are no longer canonically defined, but this could be fixed in post processing.

The problem then red

[2020-04-14 18:49] gkioxari commented on #150
Hi @aluo-x! Our meshes data structure is defined with `verts` and `faces`. If I understand correctly, you want the ability to define them with `verts` and `edges` and from that be able to define faces (if any). We don't have support for the latter case. I think that's a tricky definition, as a set of `verts` and `edges` doesn't necessarily define a mesh, triangular or of higher degree of connectiv

[2020-04-14 18:57] aluo-x commented on #150
I agree it is a tricky problem in many aspects.

For my code, previously the backwards pass of the diff render was the bottleneck, however now it seems like the edge -> face conversion is the bottleneck.

Closing this for now. If I end up writing a speedy implementation I will be sure to submit a PR.

[2020-04-14 18:57] #150 closed

[2020-04-14 23:20] gkioxari commented on #150
Great! Let us know! Good luck with your project!

[2020-04-15 07:49] hadhoryth opened #151 "Saving .obj with textures"
In pytorch3d.io module there is a function to save .obj file. After deforming one mesh to another I would like to export new .obj but with textures and uv from source mesh. Could you please explain how can I do this?

[2020-04-15 13:08] #146 closed

[2020-04-15 13:17] xingmimfl opened #152 "Seem rendering takes much gpu and very slow"
it seems that rendering takes a lot of gpu： i have a nvidia with 12GB, but i have to set batch_size = 8, sinceing batch_size=16 would  cause  "out of gpu memory".  and I'm sure that base network is very small, smaller than resnet18 or mobielnet.
is this  right ?? :P

[2020-04-15 14:17] achao2013 opened #153 "one of the variables needed for gradient computation has been modified by an inplace operation: [torch.cuda.FloatTensor [8, 512, 512, 1, 3]], which is output 0 of ExpandBackward, is at version 4; expected version 1 instead."
render bacward error！
![image](https://user-images.githubusercontent.com/5026576/79348330-75076780-7f67-11ea-8e57-7b6fea4ee437.png)

------------------------------------------------------------------------------------------------
complement:
 rendereras[k] = MeshRenderer(
                        rasterizer=rasterizers[k],
                        shader=TexturedSoftPhongShader(

[2020-04-15 16:11] gkioxari commented on #152
@xingmimfl the information you provide does not contain much information and without any info we can't help you. The format of how issues should be reported can be found [here](https://github.com/facebookresearch/pytorch3d/blob/master/.github/ISSUE_TEMPLATE/questions-help.md). Could you give us a code snippet on how you define the renderer. The memory requirement of the renderer are described [her

[2020-04-15 16:16] gkioxari commented on #153
What you provide is non descriptive and we can't really parse this. You need to isolate the problem. The code you are running does not seem to be merely PyTorch3D code. It also consists of your own code. It is impossible for us to help you. Please isolate your code, break it into smaller pieces, provide the code snippets that cause the issue and report back.

Note that we have [tests](https://gith

[2020-04-15 16:34] nikhilaravi commented on #151
@hadhoryth we currently don't provide support for saving '.obj' meshes with textures as you describe and don't have plans to support this in the short term as this isn't a primary use case.

If you would like to write your own function, you would need to use the three components returned from `load_obj`: `verts, faces, aux`.  The names of the materials in the source mesh are given by `aux.material

[2020-04-15 16:34] #151 closed

[2020-04-16 04:10] achao2013 commented on #153
the code like this:
outtex = network_texture(input)
outpts=network_shape(input)
veruvs= precomputed fixed values
tris = precomputed fixed values
tex = Textures(verts_uvs=veruvs, faces_uvs=tris, maps=outtex)
mesh = Meshes(verts=outpts, faces=tris, textures=tex)
R_, T_ = look_at_view_transform(2.7, 0, 0, device=device)
camas = OpenGLOrthographicCameras(device=device, R=R_, T=T_)
rasterizers=MeshRast

[2020-04-16 15:18] srxdev0619 commented on #149
Hi @Chanwooong , would you mind sharing a script to fix the rendering?
A simple transformation of `z -> -z` and  `x -> -x` (to maintain righ-handedness)  didn't really work..

[2020-04-16 15:42] nikhilaravi commented on #149
@srxdev0619 what do you mean by "didn't really work"? Did you get the same outputs as above with the nose being inverted? If you can share your minimal script to reproduce the output above we can give feedback on this.

What does your mesh look like when loaded into mesh lab? Mesh lab follows the same coordinate conventions as PyTorch3D so sometimes visualizing a mesh in the correct coordinate fra

[2020-04-16 16:32] srxdev0619 commented on #149
@nikhilaravi below is the mesh used in #116 as viewed in meshlab
<img width="883" alt="Screen Shot 2020-04-16 at 9 26 44 PM" src="https://user-images.githubusercontent.com/9676573/79478799-78632780-8029-11ea-9b7a-3b9534b5ee4b.png">
As you can see here, in the coordinate frame of the mesh, the X-axis points right and the Z-axis points outward. I change this by transforming `z -> -z` and `x -> -x` a

[2020-04-16 16:33] gkioxari commented on #153
@achao2013 You are giving us a sequence of commands which we are unable to do anything with. It's impossible to reproduce any of the things you pasted above. You need to break your code into parts, and run the different parts to figure out where your problem is. In this quest, you will be able to isolate the problem and find your bug. If you have strong evidence that the bug is in some PyTorch3D o

[2020-04-16 16:33] #153 closed

[2020-04-16 16:35] gkioxari commented on #152
No response, closing this task. @xingmimfl if you believe there is a bug in PyTorch3D then please provide reproducible code that we can run, what you expected to get and what you're getting and your machine's specs.

[2020-04-16 16:35] #152 closed

[2020-04-16 17:54] nikhilaravi commented on #149
@Chanwooong  you are seeing the back of the mesh in the rendered image! If you rotate the mesh in meshlab such that +X is left, +Y is up and +Z is in to the page you will see the back of the face.

After transforming z -> -z and x -> -x, in order to render the front of the mesh you need to set the azimuth rotation to 180 degrees in the `look_at` transform.

Please try that and let me know if it do

[2020-04-16 19:35] EphChem opened #154 "zbuf when using SfMPerspectiveCameras does not give proper depth"
First, thank you for this great API!  I am still getting familiar with it so apologies if this question is an obvious one.  I am trying to get depth map and would like to use a camera module which allows me to use intrinsics and extrinsics.  Seems from [this issue](https://github.com/facebookresearch/pytorch3d/issues/18#issuecomment-579978300) that I can use SfMPerspectiveCameras.  When I retrieve

[2020-04-17 06:29] srxdev0619 commented on #149
@nikhilaravi  Yeup, it works! Thank you so much! Here is the notebook: https://gist.github.com/srxdev0619/622a1d4f6245bef9ba49bb1acfaf3028

[2020-04-17 06:39] srxdev0619 commented on #116
Need to transform `z -> -z` and `x -> -x` to ensure input BFM mesh is correctly oriented in pytorch3D's world coordinates. See #149 for details.

[2020-04-17 06:39] #116 closed

[2020-04-17 08:56] Chanwooong commented on #149
I already solved it, but I checked too late.

Thank you for your kind answer.

[2020-04-17 08:56] #149 closed

[2020-04-17 15:19] nikhilaravi commented on #116
@srxdev0619 we are adding an option for backface culling which should help with debugging these issues in future! If you enable the backface culling setting then in the very first image you posted you wold not have seen the front face textures as the back of the face was facing the camera.

[2020-04-18 02:03] densechen opened #155 "euler_angles_to_matrix and matrix_to_euler_angles is not consistant?"
Hi,
I use following code to convert a matrix to euler and back,
`
BEFORE = MATRIX
EULER = matrix_to_euler_angles(BEFORE, "XYZ")
AFTER = euler_angles_to_matrix(EULER, "XYZ" )
`

And got that:
`
AFTER tensor([[[ 0.8888,  0.0357, -0.4569],
         [-0.4552,  0.1834, -0.8713],
         [ 0.0528,  0.9824,  0.1793]]], device='cuda:0',)
BEFORE tensor([[[ 0.8888,  0.1516, -0.4325],
         [-0.4552,  0.

[2020-04-18 10:26] srxdev0619 commented on #116
@nikhilaravi  Indeed that would be really helpful! Thank you so much!

[2020-04-19 15:07] bottler commented on #155
The original `MATRIX`, `BEFORE`, is not a rotation matrix. Its determinant is approximately -1. It therefore does not make sense to express it in euler angles.

[2020-04-19 15:15] densechen commented on #155
Thanks! That is right!

[2020-04-19 15:15] #155 closed

[2020-04-20 09:58] lodeguns opened #156 "Surface to volume registration"
## ❓ Surface to volume registration

Dear staff, is it possible to align a 3D surface with respect to a 3D volume (such as surface to volume registration), possibly looking for where the surface area is on the solid surface while minimizing its distance?
Such for example, is it possible to align a brain surface fragment with an irregular shape to a whole-brain volume?

Thank you in advance for you

[2020-04-22 05:52] shbe-aau commented on #95
I have made similar observations.

Using `blur_radius = 0` results in view-centric depth maps:
![correct](https://user-images.githubusercontent.com/39124863/79945017-3c86f280-846d-11ea-8c3d-00d3fcf8ce9f.png)

But using `blur_radius > 0` results in what appears to be object-centric depth maps:
![wrong](https://user-images.githubusercontent.com/39124863/79945050-50caef80-846d-11ea-8ad2-2afa6d7beae3.

[2020-04-22 15:50] nikhilaravi commented on #95
@shbe-aau and @marlinilram this is a good point!! When `blur_radius > 0` we do the z interpolation outside of the rasterization step after clipping the barycentric coordinates and you're right, it should use the view space z coordinates instead of the world space z. I will submit a fix for this!

[2020-04-22 17:35] gkioxari commented on #156
I think you can do it! So if I understand correctly you have 3D voxel (a grid of shape `HxWxD`) and you want to find how to displace a 3D surface (in the form of a mesh?).

I see two options:
* You convert the 3D voxel to a mesh (e.g. use `cubify`) and then compute the distance between two meshes e.g. you can use `chamfer` after you `sample_points_from_meshes` to differentiably convert the meshes

[2020-04-22 17:50] lodeguns commented on #156
Thanks a lot for the answer, you caught the problem and it will be very useful for my research. In general, you are right, traditional techniques would use ICP or even better iterative point to surface alignments (which are faster), but I want to figure out if your tool could be useful for solving a more complex problem that could be the "tracking of the deformations" measuring the variations in t

[2020-04-22 19:17] gkioxari commented on #156
Sounds reasonable! I think learning the deformation of your surface such that it minimizes chamfer distance seems like a path forward. Note that this is what we do in Mesh R-CNN too! Good luck with your project!

[2020-04-22 21:03] argupta98 opened #157 "Mesh Structure Computations Fail on Device Cuda:1"
Hello,

Thanks for making this awesome library!

 I have been trying to get some code working for computing error between a Mesh Structure and PointCloud using `pytorch3d.loss.point_mesh_face_distance`; however, I was consistently getting `0.0` as the loss when I know that the mesh error should be higher. Upon checking the mesh by computing area, I was also getting `0.0` consistently. The reason i

[2020-04-22 22:17] gkioxari commented on #156
I will close this issue for now! Feel free to re-open if you have follow up questions!

[2020-04-22 22:17] #156 closed

[2020-04-22 22:18] gkioxari commented on #157
Can you confirm that you do the following?
[code]

[2020-04-22 22:52] gkioxari commented on #157
I just reproduced your code and with explicitly setting the device it works. We will add support to the our source kernels to launch in the device of the tensors without having to explicitly set the devices in the future.

[2020-04-22 22:52] #157 closed

[2020-04-23 02:37] Dian-Yi opened #158 "how can i get the Vertex coordinates in the render images?"
i meet some case needing the vertex coordinates in different angle. i want the rende images same coordinates correspond to obj obj mode. so how can i get it?

[2020-04-23 03:21] nikhilaravi commented on #158
Do you mean the world coordinates of the mesh vertices corresponding to the faces which are rendered?

[2020-04-23 06:09] zhangyulong882 opened #159 "Install failed, version mismatch"
Install failed on my Ubuntu 18.04 with python 3.7
the error message is:
pytorch3d -> python[version='>=2.7,<2.8.0a0|>=3.5,<3.6.0a0']

Can pytorch3d running with python 3.7?

[2020-04-23 06:34] Dian-Yi commented on #158
yes , for example： i draw a 3d triangle and it has 3  mesh vertices. when i get render images from this 3d mode, how can i konw the 3 vertices coordinates in 2d triangle images ?

[2020-04-23 10:23] bottler commented on #159
Yes. Python 3.7 should be fine. I assume you are using conda because of the format of that message. But the message specifics are weird: the package called pytorch3d wants python 2.7 or 3.5, and that isn't right.

Can you run `conda list` and paste the output? Are you downloading from anaconda cloud directly?

[2020-04-23 13:06] zhangyulong882 opened #160 "ImportError: cannot import name 'Pointclouds'"
I  installed pytorch3d use the command below:
 pip install pytorch3d

and when I want to import Pointclouds from pytorch3d.structures package, I got the error:
ImportError: cannot import name 'Pointclouds'

My Code is:
from pytorch3d.structures import Pointclouds

[2020-04-23 13:49] bottler commented on #160
You have installed the latest released version of pytorch3d, which is version 0.1.1. Pointclouds is something we have added recently on github, which has not been released yet. We hope to release a new version, which will include Pointclouds soon.

If you can compile extensions (which is likely) you can install straight from github with
[code]

Can you update or close your other issue please?

[2020-04-24 01:51] nikhilaravi commented on #130
@kcw4875 do you still need help with this or can we close this issue?

[2020-04-24 04:04] #110 closed

[2020-04-24 04:05] nikhilaravi commented on #110
This has been fixed by https://github.com/facebookresearch/pytorch3d/commit/487d4d6607a60a8be7135b334137985f40953a92

[2020-04-24 05:45] zhangyulong882 commented on #160
It worked. Thanks

[2020-04-24 05:45] #160 closed

[2020-04-24 05:47] zhangyulong882 commented on #159
I used the command bellow as you metioned in another issue and succeeded:

pip install 'git+https://github.com/facebookresearch/pytorch3d.git'

[2020-04-24 05:47] #159 closed

[2020-04-24 08:51] #38 closed

[2020-04-24 10:09] zyuanbing opened #161 "Import error"
Hi, all,

I got the following import error:
[code]
And my config is pytorch=1.4.0, torchvision=0.5.0, cudatoolkit=10.0
I install pytorch3d by `pip install pytorch3d` as [INSTALL.md](https://github.com/facebookresearch/pytorch3d/blob/master/INSTALL.md#3-install-from-a-local-clone)
I tried method in  #33 but doesn't work. Any hints to help?
THANKS

[2020-04-24 14:15] bottler commented on #161
As you are using conda and have cuda, it might be better to install with conda, and this would be more consistent with your pytorch installation. Can you do `pip uninstall fvcore pytorch3d` and then `conda install -c pytorch3d pytorch3d`?

Failing that, can you give the complete output of `conda list` please?

[2020-04-24 16:00] zyuanbing commented on #161
thanks @bottler , I follow your uninstall command and `conda install` the downloaded package from [here](https://anaconda.org/pytorch3d/pytorch3d/files), but same problem happened again.
this is the output of `conda list`
[code]

[2020-04-24 16:08] bottler commented on #161
Your conda environment is in a strange state. You have two copies of torchvision: one via conda which is very old (and cannot be used by pytorch3d) and one via pip. You are currently, as discussed, trying to install the conda was. You also have fvcore (and its dependency yacs) installed from conda-forge, which I think is an old version.

Can you try starting from scratch in a new conda environment

[2020-04-24 21:11] zyuanbing commented on #161
thanks @bottler ,
I tried starting from a new conda environment.
my commands:
[code]
and output of `conda list`
[code]
where [pytorch3d](https://anaconda.org/pytorch/torchvision/files) and [torchvision](https://anaconda.org/pytorch3d/pytorch3d/files) are installed manually due to the network issue.

but it still does't work.

[2020-04-24 22:08] nikhilaravi commented on #75
@michele-arrival your PR has been merged so I am closing this issue.

[2020-04-24 22:08] #75 closed

[2020-04-25 20:51] bottler commented on #161
Do you still get the same error? This environment looks much healthier.

[2020-04-26 00:15] ShairozS commented on #161
I am also getting this error with a fresh install on Linux.
The following are the relevant packages I have installed.

# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main
_pytorch_select           0.2                       gpu_0
cudatoolkit               10.1.243             h6bb024c_0
cudnn                     7.6.5

[2020-04-26 02:17] fangxu622 opened #162 "some questions about relative pose transition on bundle _adjustment.ipynb"
### I think :
Relative pose transition is simply calculated by:
[code]
### but I found :
[code]
### for example :

[code]

I can understand the rotation matrix and SO3.

SLAM application In KITTI or euroc_mav dataset.

the relative pose transition is like that.

Is there anything wrong with me ？

[2020-04-26 10:06] bottler commented on #161
@ShairozS I think your problem might not be the same. Yours could be a mismatch in the compiler options for pytorch. Did you install the packages in the manner given in our INSTALL.md? I wonder if you could have a pytorch coming from somewhere else. Have you modified your path?

(I notice you don't have torchvision or yacs in your list, but maybe you just missed the end. pytorch3d shouldn't have i